// ###############################
// common.less
// ###############################
// -------------------------------
// Badges
// -------------------------------
.badge when (@badge = enabled){
	display: inline-block; border-radius: 1em; padding: 3px 4px; min-width: 1em; text-align: center; font-size: 11px; line-height: 1em;
}

// -------------------------------
// Bar charts
// -------------------------------
.bar-chart when not (@bar-chart = disabled) {position: relative;
	.clearfix;
	& .x-axis,
	& .y-axis {display: block; position: absolute;}
	& .x-axis {bottom: 0; left: @bar-chart-outer-padding;}
	& .y-axis {.rotate(90deg); top: @bar-chart-outer-padding; left: 0;  .origin(50% 0% 0);}
	& dl {width: @bar-chart-width; border: @bar-chart-border; background-color: @colour-bar-chart-bg; color: @colour-bar-chart-fg; margin: 0 @bar-chart-outer-padding @bar-chart-outer-padding; 	
		.clearfix;
	}
	& dt {float: left; clear: left; text-align: right; margin: @bar-chart-bar-margin; padding: @bar-chart-bar-padding;}
	& dt when not (@bar-chart-label-angle = disabled) {.rotate(@bar-chart-label-angle); .origin(80% 100% 0);}
	& dd {float: left; margin: @bar-chart-bar-margin; padding: @bar-chart-bar-padding; .box-sizing(border-box); text-align: @bar-chart-value-location;
		text-indent: 999em; font-size: 0; background-color: @colour-bar-chart-bars-bg; color: @colour-bar-chart-bars-fg;

		&:before{content: attr(data-value); display: block; font-size: 13px;}
		&:nth-of-type(1) {margin-top: (@bar-chart-bar-margin * 2);}
		&:nth-last-of-type(1) {margin-bottom: (@bar-chart-bar-margin * 2);}
	}
// set bar sizes
		@iterations: 100;
		.loopingClass (@index) when (@index > -1){
			& [data-value="@{index}"] {width: ~"@{index}%";}
			.loopingClass (@index - 1);
		}
		.loopingClass (@iterations);
		& dd when (@bar-chart-value-location = hide) {}
		&-vertical {.rotate(-90deg);}
	}
// Move number out of bar when smaller than certain size
	[data-value="1"]:before {
    	color: @colour-bar-chart-bars-below-fg; position: relative; text-align: right; left: @bar-chart-value-move-below-indent;
	}
	.loopBuilder (@index) when (@index =< @bar-chart-value-move-below) {
		@loopClass: ~'[data-value="@{index}"]:before';
		@{loopClass} 
		{
			.extender() when (@index > 1) {
				&:extend([data-value="1"]:before all);
			}
			.extender() when (@index = 1) {}
			.extender();
		}
		.loopBuilder(@index + 1);
	}
	.loopBuilder(1);

// -------------------------------
// Calendar
// -------------------------------

	.calendar {width: 100%; position: relative; margin-top: @calendar-heading-position;
		& li {float: left; margin: 0 @calendar-margin @calendar-margin 0; width: @calendar-cell-width;
			& a,
			& span {background-color: @colour-calendar-previous-bg; color: @colour-calendar-previous-fg; height: 0; padding: @calendar-padding @calendar-padding @calendar-cell-height; display: block;}
		}
// First day of the month
		& .monday.day-1 {margin-left: 0;}
		& .tuesday.day-1 {margin-left: (@calendar-cell-width + @calendar-margin);}
		& .wednesday.day-1 {margin-left: ((@calendar-cell-width * 2) + (@calendar-margin * 2));}
		& .thursday.day-1 {margin-left: ((@calendar-cell-width * 3) + (@calendar-margin * 3));}
		& .friday.day-1 {margin-left: ((@calendar-cell-width * 4) + (@calendar-margin * 4));}
		& .saturday.day-1 {margin-left: ((@calendar-cell-width * 5) + (@calendar-margin * 5));}
		& .sunday.day-1 {margin-left: ((@calendar-cell-width * 6) + (@calendar-margin * 6));}
// weekends
		& li.saturday,
		& li.sunday {
			& span {background-color: @colour-calendar-previous-weekend-bg; color: @colour-calendar-previous-weekend-fg;}
		}
		& .sunday {margin-right: 0;}
// today
		& .today {font-weight: bold;
			& a,
			& span {background-color: @colour-calendar-current-bg; color: @colour-calendar-current-fg;}
// Future
			& ~ li {
				& a,
				& span {background-color: @colour-calendar-next-bg; color: @colour-calendar-next-fg;}
			}
			&  ~ .saturday,
			&  ~ .sunday {
				& span {background-color: @colour-calendar-next-weekend-bg; color: @colour-calendar-next-weekend-fg;}
			}
		}
// hover
		& li:hover {color: @colour-calendar-hover-fg;
			& a {background-color: @colour-calendar-hover-bg; color: @colour-calendar-hover-fg;}
		}
// headings
		& .day-1:before,
		& .day-2:before,
		& .day-3:before,
		& .day-4:before,
		& .day-5:before,
		& .day-6:before,
		& .day-7:before {position: absolute; top: -@calendar-heading-position; width: @calendar-cell-width; text-align: center; background-color: @colour-calendar-heading-bg; color: @colour-calendar-heading-fg; padding: @calendar-heading-padding 0;}
		& .day-1:before {content: "Monday"; left: 0;}
		& .day-2:before {content: "Tuesday"; left: (@calendar-cell-width + @calendar-margin);}
		& .day-3:before {content: "Wednesday"; left: ((@calendar-cell-width * 2) + (@calendar-margin * 2));}
		& .day-4:before {content: "Thursday"; left: ((@calendar-cell-width * 3) + (@calendar-margin * 3));}
		& .day-5:before {content: "Friday"; left: ((@calendar-cell-width * 4) + (@calendar-margin * 4));}
		& .day-6:before {content: "Saturday"; left: ((@calendar-cell-width * 5) + (@calendar-margin * 5));}
		& .day-7:before {content: "Sunday"; left: ((@calendar-cell-width * 6) + (@calendar-margin * 6));}

	}
// -------------------------------
// Chat bubbles
// -------------------------------
.chat when (@chat = bubbles){
	& blockquote {
		display: block; margin-bottom: @chat-margin; padding: @chat-padding; border-radius: @chat-radius; position: relative;
		&:before {
			position: absolute; border-style: solid; bottom: -((@chat-tail-size / 1.5) - 1);
			.pseudo;
		}
		&:nth-child(odd) {background-color: @colour-chat-odd-bg; color: @colour-chat-odd-fg; margin-right: @chat-tail-size;
			&:before {border-color: transparent @colour-chat-odd-bg; border-width: 0 0 (@chat-tail-size / 1.5) @chat-tail-size; left: (@chat-tail-size / 2);}
		}
		&:nth-child(even) {background-color: @colour-chat-even-bg; color: @colour-chat-even-fg; margin-left: @chat-tail-size;
			&:before {border-color: transparent @colour-chat-even-bg; border-width: 0 @chat-tail-size (@chat-tail-size / 1.5) 0; right: (@chat-tail-size / 2);}
		}
	}
}
// -------------------------------
// corner ribbons
// -------------------------------
.corner-ribbon when not (@corner-ribbon = disabled) {position: relative; overflow: hidden;
	.ribbon {padding: 3px 0 5px; position: absolute; text-align: center; background-color: @colour-corner-ribbon-bg; color: @colour-corner-ribbon-fg; border-top: @corner-ribbon-border; border-bottom: @corner-ribbon-border; top: auto; right: auto; bottom: auto; left: auto; width: 150px;
		.box-sizing(border-box);
		&.top{top: 35px;}
		&.left{left: -35px;}
		&.right{right: -35px;}
		&.bottom{bottom: 25px;}
		&.top.left{.rotate(-45deg);}
		&.top.right{.rotate(45deg);}
		&.bottom.left{.rotate(45deg);}
		&.bottom.right{.rotate(-45deg);}
	}
}
// -------------------------------
// Feature hover effects
// -------------------------------
.feature when not (@feature-hovers = disabled){
	& a {position: relative; display: block;}
	& a img {width: 100%; display: block;}
	& a img,
	& .caption {
		.transition(all 0.2s ease-in-out);
	}
	& a:hover img {opacity: 0.8;}
	& .caption {opacity: 0; position: absolute; bottom: 0; left: 0; right: 0; padding: 10px; text-align: center; font-family: Georgia,Constantia,"Times New Roman",sans-serif; font-size: 28px; color: rgb(255,255,255); background-color: @feature-hovers-bg; text-decoration: none;}
	& a:hover .caption {opacity: 1;}
}
.feature when (@feature-hovers = lighten){
	& a {background-color: #fff;}
}
.feature when (@feature-hovers = darken){
	& a {background-color: #000;}
}

// -------------------------------
// Forums
// -------------------------------
.forum when not (@forum = disabled){
	& .post {background-color: @colour-forum-content-bg; color: @colour-forum-content-fg;
		& .post-head {background-color: @colour-forum-head-bg; color: @colour-forum-head-fg;
			.clearfix;
			& ul {margin: 0;}
			& ul,
			& li {float: @forum-post-head;}
			& ul {
				& li a {padding: (@forum-padding / 2); color: @colour-forum-head-fg; display: inline-block;}
			}
		}
		& .post-meta,
		& .post-content {display: table-cell; vertical-align: top; padding: @forum-padding;}
		& .post-meta {width: @forum-post-meta-width; background-color: @colour-forum-meta-bg; color: @colour-forum-meta-fg;
			& img {margin: 0 auto @forum-padding;}
			& dt,
			& dd {float: left; width: 50%;}
			& dt {text-align: right; font-weight: bold;}
			& dd {text-indent: 5px;}
		}
		& .post-content {width: (100 - @forum-post-meta-width); color: @colour-forum-content-fg;}
	}
}

// -------------------------------
// Gallery
// -------------------------------
.gallery when not (@gallery = disabled){
	& li {display: inline-block;
		& a {display: block;}
		& img {display: block;}
	}
	& div when (@gallery-style = framed){border: @border-solid; padding: (@padding / 2); .box-sizing(border-box);}
	& div when (@gallery-hover = opacity){
		&:hover {opacity: 0.7;}
	}
	& div when (@gallery-hover = border){padding: (@padding / 2); .box-sizing(border-box);
		&:hover {border: @border-solid;}
	}
}

// -------------------------------
// Highlight-block
// -------------------------------
.highlight when not (@highlight-block = disabled){padding: @highlight-padding; background-color: @colour-highlight-bg; color: @colour-highlight-fg; margin-bottom: 1em; border-radius: @highlight-radius; border: @highlight-border;
	& p:last-child {margin-bottom: 0;}
}

// -------------------------------
// Pagination
// -------------------------------
.pagination when not (@pagination = disabled){
	& ol {display: table;
		& li {display: table-cell; padding-right: @pagination-margin;
			&:last-child {padding-right: 0;}
			& a,
			& span {display: block; padding:@pagination-padding; text-decoration: none; border-radius: @pagination-radius; border: @pagination-border;}
			& span {background-color: @colour-pagination-current-bg; color: @colour-pagination-current-fg;}
			& a {
				&:link,
				&:visited {background-color: @colour-pagination-bg; color: @colour-pagination-fg;}
				&:hover,
				&:active {background-color: @colour-pagination-hover-bg; color: @colour-pagination-hover-fg;}
			}
		}
	}
}

// -------------------------------
// Progress-bar
// -------------------------------
progress when not (@progress = disabled) {
	-webkit-appearance: none; border: 0; height: @padding; 
	background: @colour-progress-bg;
	&::-webkit-progress-bar {background: @colour-progress-bg;}
	&::-moz-progress-bar {background: @colour-progress-fg;}
	&::-webkit-progress-value {background: @colour-progress-fg;}
}

// -------------------------------
// Pull-quotes
// -------------------------------
p[data-pullquote] when not (@pullquotes = disabled) {
	&:before{content: attr(data-pullquote); background-color: @colour-pullquotes-bg; color: @colour-pullquotes-fg; padding: @pullquotes-padding; width: @pullquotes-width; font-size: @pullquotes-font-size; border-radius: @pullquotes-border-radius; display: block;}
	&[data-pullquote-position="left"]:before {float: left; margin: 0 @padding @padding 0;}
	&[data-pullquote-position="right"]:before {float: right; margin: 0 0 @padding @padding;}
	&[data-pullquote-position="center"]:before {position: relative; left: (50% - (@pullquotes-width / 2)); right: (50% - (@pullquotes-width / 2));}
}

// -------------------------------
// Tables
// -------------------------------
table when not (@tables = disabled) {
// General styles
	& th {padding: @table-padding;}
	& td {padding: @table-padding;}
	& thead {
		& th {background-color: @colour-table-head-bg; color: @colour-table-head-fg; font-weight: @table-head-font-weight;}
	}
	& tbody {
		& th,
		& td {background-color: @colour-table-body-bg; color: @colour-table-body-fg;}
	}
	& tfoot {
		& th,
		& td {background-color: @colour-table-foot-bg; color: @colour-table-foot-fg;}
	}
// Types of tables
	&.all-borders {border: @table-border;
		& th,
		& td {border: @table-border;}
	}
	&.h-borders {
		& th,
		& td {border-bottom: @table-border;}
	}
	&.striped {
		& tr:nth-child(even) {
			& th,
			& td {background-color: @colour-table-even-bg;}
		}
	}
	&.hover {
		& tr:nth-child(even):hover,
		& tr:nth-child(odd):hover {
			& th,
			& td {background-color: @colour-table-hover-bg; color: @colour-table-hover-fg;}
		}
	}
	&.comparrison {
		& th,
		& td {
			&:nth-child(1) {background-color: @colour-table-comparrison-col-1-bg; color: @colour-table-comparrison-col-1-fg;}
			&:nth-child(2) {background-color: @colour-table-comparrison-col-2-bg; color: @colour-table-comparrison-col-2-fg;}
			&:nth-child(3) {background-color: @colour-table-comparrison-col-3-bg; color: @colour-table-comparrison-col-3-fg;}
			&:nth-child(4) {background-color: @colour-table-comparrison-col-4-bg; color: @colour-table-comparrison-col-4-fg;}
			&:nth-child(5) {background-color: @colour-table-comparrison-col-5-bg; color: @colour-table-comparrison-col-5-fg;}
			&:nth-child(6) {background-color: @colour-table-comparrison-col-6-bg; color: @colour-table-comparrison-col-6-fg;}
		}
		& .promote {border-left: @table-promote-border; border-right: @table-promote-border; border-top: 0; border-bottom: 0;}
		& > :first-child tr:first-child .promote {
			border-top: @table-promote-border;
		}
		& tfoot .promote,
		& > :last-child tr:last-child .promote {
			border-bottom: @table-promote-border;
		}
		& tfoot + tbody:last-child tr:last-child .promote {border-bottom: 0;}
	}
// overides
	& .numeric {text-align: right;}
}

// -------------------------------
// Tabs
// -------------------------------
.tabs when not (@tabs = disabled){
	& ul {display: table; margin-bottom: 0;
		& li {display: table-cell;
			& a,
			& span,
			& label {background-color: @colour-tabs-bg; color: @colour-tabs-fg;display: block; padding: @tabs-padding; text-decoration: none; border-radius: @tabs-radius @tabs-radius 0 0;}
			& span,
			& label:active {background-color: @colour-tabs-current-bg; color: @colour-tabs-current-fg;}
			& a,
			& label {cursor: pointer;
				&:link,
				&:visited {background-color: @colour-tabs-bg; color: @colour-tabs-fg;}
				&:hover,
				&:active {background-color: @colour-tabs-hover-bg; color: @colour-tabs-hover-fg;}
			}
		}
	}
	& .tabbed-content {
		& > div {padding: @tabs-content-padding; border: @tabs-border-width @tabs-border-style @tabs-border-colour; margin-top: (-@tabs-border-width)}
	}
}
.tabs when not (@tabs-border-width = disabled){
	& a,
	& span,
	& label {border-top: @tabs-border-width @tabs-border-style @tabs-border-colour; border-left:  @tabs-border-width @tabs-border-style @tabs-border-colour; border-right:  @tabs-border-width @tabs-border-style @tabs-border-colour; margin-left: -@tabs-border-width;}
}
.tabs when not (@dynamic-tabs = disabled){
	& fieldset.tabbed-content {
		& > div,
		& input[type=radio] {display: none;}
	}
	@iterations: @dynamic-tabs-qty;
	.qtyLoopingClass (@index) when (@index > -1){
		& input[id="tab-@{index}"]:checked ~ #tabbed-content-@{index} {display: block;}
		.qtyLoopingClass (@index - 1);
	}
	.qtyLoopingClass (@iterations);
}

// -------------------------------
// Tags
// -------------------------------
.tags when not (@tags = disabled){display: block;
	& li {float: left;
		& a,
		& span {display: block; padding:@tags-padding; text-decoration: none; margin-right: 2px;}
		& span {background-color: @colour-tags-bg; color: @colour-tags-fg;}
		& a {
			&:link,
			&:visited {background-color: @colour-tags-bg; color: @colour-tags-fg;}
			&:hover,
			&:active {background-color: @colour-tags-hover-bg; color: @colour-tags-hover-fg;}
		}
	}
}