// -------------------------------
// common.less
// -------------------------------
// ###############################
// start editable
// ###############################
@badge: enabled; // disabled, simple
@chat: bubbles; // disable, bubbles
@feaure-hovers: darken; // disabled, lighten, darken
@gallery: disabled; // disabled, simple, rounded-grid, filmstrip
@highlight-block: disabled; // disabled, simple
@pagination: blocks; // disabled, simple, blocks
@progress-bar: disabled; // disabled, simple
@quotes: disabled; // disabled, simple, large, x-large
@pull-quotes: disabled; // disabled, overhang-right, overhang-left
@tables: disabled; // disabled, enabled
@tags: simple; // disabled, simple
@tabs: blocks; // disabled, blocks, chevrons, trapezoid

// ###############################
// end editable
// ###############################
// -------------------------------
// Badges
// -------------------------------
.badge when (@badge = enabled){
	display: inline-block; border-radius: 1em; padding: 3px 4px; min-width: 1em; text-align: center; font-size: 11px; line-height: 1em;
}
// -------------------------------
// Chat bubbles
// -------------------------------
@chat-start: left; // left, right
@chat-odd-bg: #ddd; // hex
@chat-even-bg: #eee; // hex
@chat-odd-fg: #222; // hex
@chat-even-fg: #333; // hex
@chat-margin: 20px;
@chat-padding: 10px;
@chat-radius: 4px;
@chat-tail-size: 20px;

.chat when (@chat = bubbles){
	& blockquote {
		display: block; margin-bottom: @chat-margin; padding: @chat-padding; border-radius: @chat-radius; position: relative;
		&:before {
			position: absolute; border-style: solid; bottom: -((@chat-tail-size / 1.5) - 1);
			.pseudo;
		}
	}
	& blockquote:nth-child(odd) 	{background-color: @chat-odd-bg; margin-right: @chat-tail-size;
		&:before {
border-color: transparent @chat-odd-bg;
border-width: 0 0 (@chat-tail-size / 1.5) @chat-tail-size;
left: (@chat-tail-size / 2);
		}
	}
	& blockquote:nth-child(even) 	{background-color: @chat-even-bg; margin-left: @chat-tail-size;
		&:before {
border-color: transparent @chat-even-bg;
border-width: 0 @chat-tail-size (@chat-tail-size / 1.5) 0;
right: (@chat-tail-size / 2);
		}
	}
}
// -------------------------------
// Feature hover effects
// -------------------------------
.feature when not (@feaure-hovers = disabled){
	& a {position: relative; display: block;}
	& a img {width: 100%; display: block;}
	& a img,
	& .caption {
		.transition(all 0.2s ease-in-out);
	}
	& a:hover img {opacity: 0.8;}
	& .caption {opacity: 0; position: absolute; bottom: 0; left: 0; right: 0; padding: 10px; text-align: center; font-family: Georgia,Constantia,"Times New Roman",sans-serif; font-size: 28px; color: rgb(255,255,255); background-color: rgba(0,0,0,0.4); text-decoration: none;}
	& a:hover .caption {opacity: 1;}
}
.feature when (@feaure-hovers = lighten){
	& a {background-color: #fff;}
}
.feature when (@feaure-hovers = darken){
	& a {background-color: #000;}
}
// -------------------------------
// Gallery
// -------------------------------
@gallery-columns: 4; // disabled, number
@gallery-style: ; // simple, framed, polaroid
@gallery-hover: ; // border, zoom, opacity

.gallery when not (@gallery = disabled){
	& li {display: inline-block;
		& a {display: block;}
		& img {display: block;}
		& .caption {}
	}
}
.gallery when not (@gallery-columns = disabled){
	& li {width: (100% / @gallery-columns);}
}
.gallery when (@gallery-style = framed){
	& li {border: @border-solid; padding: (@padding / 2); .box-sizing(border-box);
	}
}
.gallery when (@gallery-hover = opacity){
	& li a {
		&:hover {opacity: 0.7;}
	}
}
.gallery when (@gallery-hover = border){
	& li a {
		&:hover {border: @border-solid;}
	}
}
// -------------------------------
// Highlight-block
// -------------------------------
@colour-highlight-bg: #eee;
@colour-highlight-fg: #000;
@highlight-padding: @padding;
@highlight-radius: @border-radius; // disabled, number
@highlight-border: @border-solid;
.highlight {padding: @highlight-padding; background-color: @colour-highlight-bg; color: @colour-highlight-fg; margin-bottom: 1em; border-radius: @highlight-radius; border: @highlight-border;
	& p:last-child {margin-bottom: 0;}
}
// -------------------------------
// Pagination
// -------------------------------
@colour-pagination-bg: #eee; // hex
@colour-pagination-fg: #222; // hex
@colour-pagination-hover-bg: #ddd; // hex
@colour-pagination-hover-fg: #111; // hex
@colour-pagination-current-bg: #222; // hex
@colour-pagination-current-fg: #eee; // hex
@pagination-border-width: 1px; // disabled, 
@pagination-border-style: solid; // disabled, style
@pagination-border-colour: #ccc; // disabled, hex
@pagination-margin: 5px;
@pagination-padding: 0.75em 1em; // 1 - 4 numbers
@pagination-radius: @border-radius; // disabled, number
.pagination when not (@pagination = disabled){
	& ol {display: table;
		& li {display: table-cell; padding-right: @pagination-margin;
			&:last-child {padding-right: 0;}
			& a,
			& span {display: block; padding:@pagination-padding; text-decoration: none; border-radius: @pagination-radius; border: @pagination-border-width @pagination-border-style @pagination-border-colour;}
			& span {background-color: @colour-pagination-current-bg; color: @colour-pagination-current-fg;}
			& a {
				&:link,
				&:visited {background-color: @colour-pagination-bg; color: @colour-pagination-fg;}
				&:hover,
				&:active {background-color: @colour-pagination-hover-bg; color: @colour-pagination-hover-fg;}
			}
		}
	}
}
// -------------------------------
// Progress-bar
// -------------------------------
// -------------------------------
// Quotes
// -------------------------------
// -------------------------------
// Pull-quotes
// -------------------------------
// -------------------------------
// Tables
// -------------------------------
@table-border-style: 1px solid #ccc;
@table-padding: (@padding / 1.2) (@padding * 1.5);
@colour-table-even-bg: #ddd; // hex
@colour-table-head-bg: #ccc; // hex
@colour-table-body-bg: #fff; // hex
@colour-table-foot-bg: #eee; // hex
@colour-table-head-fg: #000; // hex
@colour-table-body-fg: #222; // hex
@colour-table-foot-fg: #333; // hex
@colour-table-hover-bg: #ccc;
@table-head-font-weight: bold; // bold, normal
@colour-table-comparrison-col-1-bg: #fff;
@colour-table-comparrison-col-2-bg: #f6f6f6;
@colour-table-comparrison-col-3-bg: #eee;
@colour-table-comparrison-col-4-bg: #e5e5e5;
@colour-table-comparrison-col-5-bg: #ddd;
@colour-table-comparrison-col-6-bg: #d4d4d4;

@colour-table-comparrison-col-1-fg: #000;
@colour-table-comparrison-col-2-fg: #000;
@colour-table-comparrison-col-3-fg: #000;
@colour-table-comparrison-col-4-fg: #000;
@colour-table-comparrison-col-5-fg: #000;
@colour-table-comparrison-col-6-fg: #000;

@table-promote-border-style: 2px solid #000;

table {
// General styles
	& tr {}
	& th {padding: @table-padding;}
	& td {padding: @table-padding;}
	& thead {
		& th {background-color: @colour-table-head-bg; color: @colour-table-head-fg; font-weight: @table-head-font-weight;}
	}
	& tbody {
		& th,
		& td {background-color: @colour-table-body-bg; color: @colour-table-body-fg;}
	}
	& tfoot {
		& th,
		& td {background-color: @colour-table-foot-bg; color: @colour-table-foot-fg;}
	}

// Types of tables
	&.all-borders {border: @table-border-style;
		& th,
		& td {border: @table-border-style;}
	}
	&.h-borders {
		& th,
		& td {border-bottom: @table-border-style;}
	}
	&.striped {
		& tr:nth-child(even) {
			& th,
			& td {background-color: @colour-table-even-bg;}
		}
	}
	&.hover {
		& tr:nth-child(even):hover,
		& tr:nth-child(odd):hover {
			& th,
			& td {background-color: @colour-table-hover-bg;}
		}
	}
	&.comparrison {
		& th,
		& td {
			&:nth-child(1) {background-color: @colour-table-comparrison-col-1-bg; color: @colour-table-comparrison-col-1-fg;}
			&:nth-child(2) {background-color: @colour-table-comparrison-col-2-bg; color: @colour-table-comparrison-col-2-fg;}
			&:nth-child(3) {background-color: @colour-table-comparrison-col-3-bg; color: @colour-table-comparrison-col-3-fg;}
			&:nth-child(4) {background-color: @colour-table-comparrison-col-4-bg; color: @colour-table-comparrison-col-4-fg;}
			&:nth-child(5) {background-color: @colour-table-comparrison-col-5-bg; color: @colour-table-comparrison-col-5-fg;}
			&:nth-child(6) {background-color: @colour-table-comparrison-col-6-bg; color: @colour-table-comparrison-col-6-fg;}
		}
		& .promote {border-left: @table-promote-border-style; border-right: @table-promote-border-style; border-top: 0; border-bottom: 0;}
		& > :first-child tr:first-child .promote {
			border-top: @table-promote-border-style;
		}
		& tfoot .promote,
		& > :last-child tr:last-child .promote {
			border-bottom: @table-promote-border-style;
		}
		& tfoot + tbody:last-child tr:last-child .promote {border-bottom: 0;}
	}


// overides
	& .numeric {text-align: right;}
}
// -------------------------------
// Tabs
// -------------------------------
@colour-tabs-bg: #eee; // hex
@colour-tabs-fg: #222; // hex
@colour-tabs-hover-bg: #ddd; // hex
@colour-tabs-hover-fg: #111; // hex
@colour-tabs-current-bg: #222; // hex
@colour-tabs-current-fg: #eee; // hex
@tabs-border-width: 1px; // disabled, 
@tabs-border-style: solid; // disabled, style
@tabs-border-colour: #ccc; // disabled, colour
@tabs-padding: 0.75em 2em; // 1 - 4 numbers
@tabs-radius: 5px; // disabled, number
.tabs when not (@tabs = disabled){
	& ul {display: table;
		& li {display: table-cell;
			& a,
			& span {display: block; padding:@tabs-padding; text-decoration: none; border-radius: @tabs-radius @tabs-radius 0 0;}
			& span {background-color: @colour-tabs-current-bg; color: @colour-tabs-current-fg;}
			& a {
				&:link,
				&:visited {background-color: @colour-tabs-bg; color: @colour-tabs-fg;}
				&:hover,
				&:active {background-color: @colour-tabs-hover-bg; color: @colour-tabs-hover-fg;}
			}
		}
	}
}
.tabs when not (@tabs-border-width = disabled){
	& a,
	& span {border-top: @tabs-border-width @tabs-border-style @tabs-border-colour; border-left:  @tabs-border-width @tabs-border-style @tabs-border-colour; border-right:  @tabs-border-width @tabs-border-style @tabs-border-colour; margin-left: -@tabs-border-width;}
}


// -------------------------------
// Tags
// -------------------------------
@colour-tags-bg: #eee; // hex
@colour-tags-fg: #222; // hex
@colour-tags-hover-bg: #ddd; // hex
@colour-tags-hover-fg: #111; // hex
@tags-border: @border-solid;
@tags-padding: 0.25em 1em; // 1 - 4 numbers

.tags when not (@tags = disabled){display: block;
	& li {float: left;
		& a,
		& span {display: block; padding:@tags-padding; text-decoration: none;}
		& span {background-color: @colour-tags-bg; color: @colour-tags-fg;}
		& a {
			&:link,
			&:visited {background-color: @colour-tags-bg; color: @colour-tags-fg;}
			&:hover,
			&:active {background-color: @colour-tags-hover-bg; color: @colour-tags-hover-fg;}
		}
	}
}