
@import "http://fonts.googleapis.com/css?family=Raleway:200,300,400,700";
@import "http://fonts.googleapis.com/css?family=Droid+Sans:400,700";
@import "http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700";
@import "http://fonts.googleapis.com/css?family=Vollkorn:400,400italic,700";
@import "http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css";
body {
    background-color: #FFFFFF;
    color: #333333;
}
html {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #333333;
    overflow-y: scroll;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
fieldset, img {
    border: 0 none;
}
address, caption, cite, code, dfn, em, strong, th, var {
    font-style: normal;
    font-weight: normal;
}
li {
    list-style: none outside none;
}
caption, th {
    text-align: left;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}
q:before, q:after {
    content: "";
}
abbr, acronym {
    border: 0 none;
    font-variant: normal;
}
sup {
    vertical-align: text-top;
}
sub {
    vertical-align: text-bottom;
}
input, textarea, select {
    font-family: inherit;
    font-size: 100%;
    font-weight: normal;
}
input, textarea, select {
}
legend {
    color: #333333;
}
body {
    font: 13px/1.231 arial,helvetica,clean,sans-serif;
}
select, input, button, textarea {
    font: 99% arial,helvetica,clean,sans-serif;
}
table {
    font-size: inherit;
}
pre, code, kbd, samp, tt {
    font-family: monospace;
    line-height: 100%;
}
p, ul {
    margin-bottom: 1em;
}
script, style {
    display: none !important;
}
input[type="number"], input[type="search"] {
    -moz-appearance: none;
}
.button {
    -moz-appearance: none;
}
html {
    background-color: #666666;
    color: #006666;
}
.tools {
    background-color: #FFFFFF;
    color: #006666;
}
.tools > div {
    background-color: #FFFFFF;
}
header {
    background-color: #DDDDDD;
    color: #006666;
}
header > div {
    background-color: #DDDDDD;
}
.main {
    background-color: #FFFFFF;
    color: #222222;
}
.main > div {
    background-color: #FFFFFF;
}
footer {
    background-color: #CCCCCC;
    color: #006666;
}
footer > div {
    background-color: #CCCCCC;
}
a:link {
    color: #000099;
}
a:visited {
    color: #990099;
}
a:hover {
    color: #009999;
}
a:active {
    color: #999900;
}
.color-heading {
    color: #222222;
}
.color-heading-alt {
    color: #222222;
}
.color-text {
    color: #222222;
}
.color-text-alt-1 {
    color: #000000;
}
.color-text-alt-2 {
    color: #000000;
}
.color-text-alt-3 {
    color: #000000;
}
.color-border {
    color: #FFFFFF;
}
h1, h2, h3, h4, h5, h6 {
    color: #222222;
}
.success {
    background-color: #008000;
    color: #FFFFFF;
}
.warning {
    background-color: #FFA500;
    color: #FFFFFF;
}
.danger {
    background-color: #FF0000;
    color: #FFFFFF;
}
.disabled {
    background-color: #D3D3D3;
    color: #A9A9A9;
}
.default {
    background-color: #0000FF;
    color: #FFFFFF;
}
.fs-base {
    font-size: 13px;
}
.fs-zero {
    font-size: 0;
}
body > * {
    display: block;
    width: 100%;
}
body > *:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
body > * > div {
    display: block;
    margin: 0 auto;
    max-width: 940px;
    min-width: 320px;
}
body > * > div:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.logo {
    background: url("file:///C:/web/flexi-framework/css-cement/logo.svg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    font-family: Raleway;
    font-size: 0 !important;
    font-weight: 300;
    margin: 0 auto;
    overflow: hidden !important;
    text-align: center;
    text-indent: 100% !important;
    text-transform: uppercase;
    white-space: nowrap !important;
    width: 200px;
}
.logo a {
    display: block;
    height: 0;
    padding-bottom: 52%;
}
.logo a {
    margin: 8px 0 12px;
}
.main {
    font-size: 0;
}
.main .side {
    display: inline-block;
    vertical-align: top;
    width: 25%;
}
.main .content {
    display: inline-block;
    vertical-align: top;
    width: 100%;
}
.main .side ~ .content {
    display: inline-block;
    vertical-align: top;
    width: 75%;
}
img {
    display: block;
}
.none {
    display: none;
}
.inline {
    display: inline;
}
.block {
    display: block;
}
.fixed {
    position: fixed;
    top: 0;
    z-index: 999;
}
.fixed.fixed-10 + * {
    margin-top: 10px;
}
.fixed.fixed-20 + * {
    margin-top: 20px;
}
.fixed.fixed-30 + * {
    margin-top: 30px;
}
.fixed.fixed-40 + * {
    margin-top: 40px;
}
.fixed.fixed-50 + * {
    margin-top: 50px;
}
.fixed.fixed-60 + * {
    margin-top: 60px;
}
.fixed.fixed-70 + * {
    margin-top: 70px;
}
.fixed.fixed-80 + * {
    margin-top: 80px;
}
.fixed.fixed-90 + * {
    margin-top: 90px;
}
.fixed.fixed-100 + * {
    margin-top: 100px;
}
.fixed.fixed-150 + * {
    margin-top: 150px;
}
.fixed.fixed-200 + * {
    margin-top: 200px;
}
.fixed.fixed-250 + * {
    margin-top: 250px;
}
.parent {
    clear: both;
    display: block;
    font-size: 0;
}
.parent:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.parent > div {
    -moz-box-sizing: border-box;
    display: inline-block;
    font-size: 13px;
    vertical-align: top;
}
.parent {
    padding-left: 2.08333%;
}
@media screen and (min-width: 960px) {
.parent > div {
    margin-bottom: 2.08333%;
    margin-right: 2.08333%;
}
.parent.dt-19-20 > div {
    width: 92.9167%;
}
.parent.dt-17-20 > div {
    width: 82.9167%;
}
.parent.dt-15-20 > div {
    width: 72.9167%;
}
.parent.dt-13-20 > div {
    width: 62.9167%;
}
.parent.dt-11-20 > div {
    width: 52.9167%;
}
.parent.dt-9-20 > div {
    width: 42.9167%;
}
.parent.dt-7-20 > div {
    width: 32.9167%;
}
.parent.dt-3-20 > div {
    width: 12.9167%;
}
.parent.dt-1-20 > div {
    width: 2.91667%;
}
.parent.dt-15-16 > div {
    width: 91.6667%;
}
.parent.dt-13-16 > div {
    width: 79.1667%;
}
.parent.dt-11-16 > div {
    width: 66.6667%;
}
.parent.dt-9-16 > div {
    width: 54.1667%;
}
.parent.dt-7-16 > div {
    width: 41.6667%;
}
.parent.dt-5-16 > div {
    width: 29.1667%;
}
.parent.dt-3-16 > div {
    width: 16.6667%;
}
.parent.dt-1-16 > div {
    width: 4.16667%;
}
.parent.dt-11-12 > div {
    width: 89.5833%;
}
.parent.dt-7-12 > div {
    width: 56.25%;
}
.parent.dt-5-12 > div {
    width: 39.5833%;
}
.parent.dt-1-12 > div {
    width: 6.25%;
}
.parent.dt-9-10 > div {
    width: 87.9167%;
}
.parent.dt-7-10 > div {
    width: 67.9167%;
}
.parent.dt-5-10 > div {
    width: 47.9167%;
}
.parent.dt-3-10 > div {
    width: 27.9167%;
}
.parent.dt-1-10 > div {
    width: 7.91667%;
}
.parent.dt-7-8 > div {
    width: 85.4167%;
}
.parent.dt-5-8 > div {
    width: 60.4167%;
}
.parent.dt-3-8 > div {
    width: 35.4167%;
}
.parent.dt-1-8 > div {
    width: 10.4167%;
}
.parent.dt-5-6 > div {
    width: 81.25%;
}
.parent.dt-1-6 > div {
    width: 14.5833%;
}
.parent.dt-4-5 > div {
    width: 77.9167%;
}
.parent.dt-3-5 > div {
    width: 57.9167%;
}
.parent.dt-2-5 > div {
    width: 37.9167%;
}
.parent.dt-1-5 > div {
    width: 17.9167%;
}
.parent.dt-3-4 > div {
    width: 72.9167%;
}
.parent.dt-1-4 > div {
    width: 22.9167%;
}
.parent.dt-2-3 > div {
    width: 64.5833%;
}
.parent.dt-1-3 > div {
    width: 31.25%;
}
.parent.dt-1-2 > div {
    width: 47.9167%;
}
.parent.dt-1-1 > div {
    width: 97.9167%;
}
.parent div.dt-19-20 {
    width: 92.9167%;
}
.parent div.dt-17-20 {
    width: 82.9167%;
}
.parent div.dt-15-20 {
    width: 72.9167%;
}
.parent div.dt-13-20 {
    width: 62.9167%;
}
.parent div.dt-11-20 {
    width: 52.9167%;
}
.parent div.dt-9-20 {
    width: 42.9167%;
}
.parent div.dt-7-20 {
    width: 32.9167%;
}
.parent div.dt-3-20 {
    width: 12.9167%;
}
.parent div.dt-1-20 {
    width: 2.91667%;
}
.parent div.dt-15-16 {
    width: 91.6667%;
}
.parent div.dt-13-16 {
    width: 79.1667%;
}
.parent div.dt-11-16 {
    width: 66.6667%;
}
.parent div.dt-9-16 {
    width: 54.1667%;
}
.parent div.dt-7-16 {
    width: 41.6667%;
}
.parent div.dt-5-16 {
    width: 29.1667%;
}
.parent div.dt-3-16 {
    width: 16.6667%;
}
.parent div.dt-1-16 {
    width: 4.16667%;
}
.parent div.dt-11-12 {
    width: 89.5833%;
}
.parent div.dt-7-12 {
    width: 56.25%;
}
.parent div.dt-5-12 {
    width: 39.5833%;
}
.parent div.dt-1-12 {
    width: 6.25%;
}
.parent div.dt-9-10 {
    width: 87.9167%;
}
.parent div.dt-7-10 {
    width: 67.9167%;
}
.parent div.dt-5-10 {
    width: 47.9167%;
}
.parent div.dt-3-10 {
    width: 27.9167%;
}
.parent div.dt-1-10 {
    width: 7.91667%;
}
.parent div.dt-7-8 {
    width: 85.4167%;
}
.parent div.dt-5-8 {
    width: 60.4167%;
}
.parent div.dt-3-8 {
    width: 35.4167%;
}
.parent div.dt-1-8 {
    width: 10.4167%;
}
.parent div.dt-5-6 {
    width: 81.25%;
}
.parent div.dt-1-6 {
    width: 14.5833%;
}
.parent div.dt-4-5 {
    width: 77.9167%;
}
.parent div.dt-3-5 {
    width: 57.9167%;
}
.parent div.dt-2-5 {
    width: 37.9167%;
}
.parent div.dt-1-5 {
    width: 17.9167%;
}
.parent div.dt-3-4 {
    width: 72.9167%;
}
.parent div.dt-1-4 {
    width: 22.9167%;
}
.parent div.dt-2-3 {
    width: 64.5833%;
}
.parent div.dt-1-3 {
    width: 31.25%;
}
.parent div.dt-1-2 {
    width: 47.9167%;
}
.parent div.dt-1-1 {
    width: 97.9167%;
}
}
@media screen and (min-width: 600px) and (max-width: 960px) {
.parent {
    padding-left: 2.08333%;
}
.parent > div {
    margin-bottom: 2.08333%;
    margin-right: 2.08333%;
}
.parent.tb-19-20 > div {
    width: 92.9167%;
}
.parent.tb-17-20 > div {
    width: 82.9167%;
}
.parent.tb-15-20 > div {
    width: 72.9167%;
}
.parent.tb-13-20 > div {
    width: 62.9167%;
}
.parent.tb-11-20 > div {
    width: 52.9167%;
}
.parent.tb-9-20 > div {
    width: 42.9167%;
}
.parent.tb-7-20 > div {
    width: 32.9167%;
}
.parent.tb-3-20 > div {
    width: 12.9167%;
}
.parent.tb-1-20 > div {
    width: 2.91667%;
}
.parent.tb-15-16 > div {
    width: 91.6667%;
}
.parent.tb-13-16 > div {
    width: 79.1667%;
}
.parent.tb-11-16 > div {
    width: 66.6667%;
}
.parent.tb-9-16 > div {
    width: 54.1667%;
}
.parent.tb-7-16 > div {
    width: 41.6667%;
}
.parent.tb-5-16 > div {
    width: 29.1667%;
}
.parent.tb-3-16 > div {
    width: 16.6667%;
}
.parent.tb-1-16 > div {
    width: 4.16667%;
}
.parent.tb-11-12 > div {
    width: 89.5833%;
}
.parent.tb-7-12 > div {
    width: 56.25%;
}
.parent.tb-5-12 > div {
    width: 39.5833%;
}
.parent.tb-1-12 > div {
    width: 6.25%;
}
.parent.tb-9-10 > div {
    width: 87.9167%;
}
.parent.tb-7-10 > div {
    width: 67.9167%;
}
.parent.tb-5-10 > div {
    width: 47.9167%;
}
.parent.tb-3-10 > div {
    width: 27.9167%;
}
.parent.tb-1-10 > div {
    width: 7.91667%;
}
.parent.tb-7-8 > div {
    width: 85.4167%;
}
.parent.tb-5-8 > div {
    width: 60.4167%;
}
.parent.tb-3-8 > div {
    width: 35.4167%;
}
.parent.tb-1-8 > div {
    width: 10.4167%;
}
.parent.tb-5-6 > div {
    width: 81.25%;
}
.parent.tb-1-6 > div {
    width: 14.5833%;
}
.parent.tb-4-5 > div {
    width: 77.9167%;
}
.parent.tb-3-5 > div {
    width: 57.9167%;
}
.parent.tb-2-5 > div {
    width: 37.9167%;
}
.parent.tb-1-5 > div {
    width: 17.9167%;
}
.parent.tb-3-4 > div {
    width: 72.9167%;
}
.parent.tb-1-4 > div {
    width: 22.9167%;
}
.parent.tb-2-3 > div {
    width: 64.5833%;
}
.parent.tb-1-3 > div {
    width: 31.25%;
}
.parent.tb-1-2 > div {
    width: 47.9167%;
}
.parent.tb-1-1 > div {
    width: 97.9167%;
}
.parent div.tb-19-20 {
    width: 92.9167%;
}
.parent div.tb-17-20 {
    width: 82.9167%;
}
.parent div.tb-15-20 {
    width: 72.9167%;
}
.parent div.tb-13-20 {
    width: 62.9167%;
}
.parent div.tb-11-20 {
    width: 52.9167%;
}
.parent div.tb-9-20 {
    width: 42.9167%;
}
.parent div.tb-7-20 {
    width: 32.9167%;
}
.parent div.tb-3-20 {
    width: 12.9167%;
}
.parent div.tb-1-20 {
    width: 2.91667%;
}
.parent div.tb-15-16 {
    width: 91.6667%;
}
.parent div.tb-13-16 {
    width: 79.1667%;
}
.parent div.tb-11-16 {
    width: 66.6667%;
}
.parent div.tb-9-16 {
    width: 54.1667%;
}
.parent div.tb-7-16 {
    width: 41.6667%;
}
.parent div.tb-5-16 {
    width: 29.1667%;
}
.parent div.tb-3-16 {
    width: 16.6667%;
}
.parent div.tb-1-16 {
    width: 4.16667%;
}
.parent div.tb-11-12 {
    width: 89.5833%;
}
.parent div.tb-7-12 {
    width: 56.25%;
}
.parent div.tb-5-12 {
    width: 39.5833%;
}
.parent div.tb-1-12 {
    width: 6.25%;
}
.parent div.tb-9-10 {
    width: 87.9167%;
}
.parent div.tb-7-10 {
    width: 67.9167%;
}
.parent div.tb-5-10 {
    width: 47.9167%;
}
.parent div.tb-3-10 {
    width: 27.9167%;
}
.parent div.tb-1-10 {
    width: 7.91667%;
}
.parent div.tb-7-8 {
    width: 85.4167%;
}
.parent div.tb-5-8 {
    width: 60.4167%;
}
.parent div.tb-3-8 {
    width: 35.4167%;
}
.parent div.tb-1-8 {
    width: 10.4167%;
}
.parent div.tb-5-6 {
    width: 81.25%;
}
.parent div.tb-1-6 {
    width: 14.5833%;
}
.parent div.tb-4-5 {
    width: 77.9167%;
}
.parent div.tb-3-5 {
    width: 57.9167%;
}
.parent div.tb-2-5 {
    width: 37.9167%;
}
.parent div.tb-1-5 {
    width: 17.9167%;
}
.parent div.tb-3-4 {
    width: 72.9167%;
}
.parent div.tb-1-4 {
    width: 22.9167%;
}
.parent div.tb-2-3 {
    width: 64.5833%;
}
.parent div.tb-1-3 {
    width: 31.25%;
}
.parent div.tb-1-2 {
    width: 47.9167%;
}
.parent div.tb-1-1 {
    width: 97.9167%;
}
}
@media screen and (max-width: 600px) {
.parent {
    padding-left: 3.125%;
}
.parent > div {
    margin-bottom: 3.125%;
    margin-right: 3.125%;
}
.parent.mb-19-20 > div {
    width: 91.875%;
}
.parent.mb-17-20 > div {
    width: 81.875%;
}
.parent.mb-15-20 > div {
    width: 71.875%;
}
.parent.mb-13-20 > div {
    width: 61.875%;
}
.parent.mb-11-20 > div {
    width: 51.875%;
}
.parent.mb-9-20 > div {
    width: 41.875%;
}
.parent.mb-7-20 > div {
    width: 31.875%;
}
.parent.mb-3-20 > div {
    width: 11.875%;
}
.parent.mb-1-20 > div {
    width: 1.875%;
}
.parent.mb-15-16 > div {
    width: 90.625%;
}
.parent.mb-13-16 > div {
    width: 78.125%;
}
.parent.mb-11-16 > div {
    width: 65.625%;
}
.parent.mb-9-16 > div {
    width: 53.125%;
}
.parent.mb-7-16 > div {
    width: 40.625%;
}
.parent.mb-5-16 > div {
    width: 28.125%;
}
.parent.mb-3-16 > div {
    width: 15.625%;
}
.parent.mb-1-16 > div {
    width: 3.125%;
}
.parent.mb-11-12 > div {
    width: 88.5417%;
}
.parent.mb-7-12 > div {
    width: 55.2083%;
}
.parent.mb-5-12 > div {
    width: 38.5417%;
}
.parent.mb-1-12 > div {
    width: 5.20833%;
}
.parent.mb-9-10 > div {
    width: 86.875%;
}
.parent.mb-7-10 > div {
    width: 66.875%;
}
.parent.mb-5-10 > div {
    width: 46.875%;
}
.parent.mb-3-10 > div {
    width: 26.875%;
}
.parent.mb-1-10 > div {
    width: 6.875%;
}
.parent.mb-7-8 > div {
    width: 84.375%;
}
.parent.mb-5-8 > div {
    width: 59.375%;
}
.parent.mb-3-8 > div {
    width: 34.375%;
}
.parent.mb-1-8 > div {
    width: 9.375%;
}
.parent.mb-5-6 > div {
    width: 80.2083%;
}
.parent.mb-1-6 > div {
    width: 13.5417%;
}
.parent.mb-4-5 > div {
    width: 76.875%;
}
.parent.mb-3-5 > div {
    width: 56.875%;
}
.parent.mb-2-5 > div {
    width: 36.875%;
}
.parent.mb-1-5 > div {
    width: 16.875%;
}
.parent.mb-3-4 > div {
    width: 71.875%;
}
.parent.mb-1-4 > div {
    width: 21.875%;
}
.parent.mb-2-3 > div {
    width: 63.5417%;
}
.parent.mb-1-3 > div {
    width: 30.2083%;
}
.parent.mb-1-2 > div {
    width: 46.875%;
}
.parent.mb-1-1 > div {
    width: 96.875%;
}
.parent div.mb-19-20 {
    width: 91.875%;
}
.parent div.mb-17-20 {
    width: 81.875%;
}
.parent div.mb-15-20 {
    width: 71.875%;
}
.parent div.mb-13-20 {
    width: 61.875%;
}
.parent div.mb-11-20 {
    width: 51.875%;
}
.parent div.mb-9-20 {
    width: 41.875%;
}
.parent div.mb-7-20 {
    width: 31.875%;
}
.parent div.mb-3-20 {
    width: 11.875%;
}
.parent div.mb-1-20 {
    width: 1.875%;
}
.parent div.mb-15-16 {
    width: 90.625%;
}
.parent div.mb-13-16 {
    width: 78.125%;
}
.parent div.mb-11-16 {
    width: 65.625%;
}
.parent div.mb-9-16 {
    width: 53.125%;
}
.parent div.mb-7-16 {
    width: 40.625%;
}
.parent div.mb-5-16 {
    width: 28.125%;
}
.parent div.mb-3-16 {
    width: 15.625%;
}
.parent div.mb-1-16 {
    width: 3.125%;
}
.parent div.mb-11-12 {
    width: 88.5417%;
}
.parent div.mb-7-12 {
    width: 55.2083%;
}
.parent div.mb-5-12 {
    width: 38.5417%;
}
.parent div.mb-1-12 {
    width: 5.20833%;
}
.parent div.mb-9-10 {
    width: 86.875%;
}
.parent div.mb-7-10 {
    width: 66.875%;
}
.parent div.mb-5-10 {
    width: 46.875%;
}
.parent div.mb-3-10 {
    width: 26.875%;
}
.parent div.mb-1-10 {
    width: 6.875%;
}
.parent div.mb-7-8 {
    width: 84.375%;
}
.parent div.mb-5-8 {
    width: 59.375%;
}
.parent div.mb-3-8 {
    width: 34.375%;
}
.parent div.mb-1-8 {
    width: 9.375%;
}
.parent div.mb-5-6 {
    width: 80.2083%;
}
.parent div.mb-1-6 {
    width: 13.5417%;
}
.parent div.mb-4-5 {
    width: 76.875%;
}
.parent div.mb-3-5 {
    width: 56.875%;
}
.parent div.mb-2-5 {
    width: 36.875%;
}
.parent div.mb-1-5 {
    width: 16.875%;
}
.parent div.mb-3-4 {
    width: 71.875%;
}
.parent div.mb-1-4 {
    width: 21.875%;
}
.parent div.mb-2-3 {
    width: 63.5417%;
}
.parent div.mb-1-3 {
    width: 30.2083%;
}
.parent div.mb-1-2 {
    width: 46.875%;
}
.parent div.mb-1-1 {
    width: 96.875%;
}
}
@media screen and (max-width: 320px) {
.parent {
    padding-left: 3.125%;
}
.parent > div {
    margin-bottom: 3.125%;
    margin-right: 3.125%;
}
.parent.mb-20 > div, .parent.mb-19 > div, .parent.mb-18 > div, .parent.mb-17 > div, .parent.mb-16 > div, .parent.mb-15 > div, .parent.mb-14 > div, .parent.mb-13 > div, .parent.mb-12 > div, .parent.mb-11 > div, .parent.mb-10 > div, .parent.mb-9 > div, .parent.mb-8 > div, .parent.mb-7 > div, .parent.mb-6 > div, .parent.mb-5 > div, .parent.mb-4 > div, .parent.mb-3 > div, .parent.mb-2 > div, .parent.mb-1 > div {
    width: 96.875%;
}
.parent .mb-20, .parent .mb-19, .parent .mb-18, .parent .mb-17, .parent .mb-16, .parent .mb-15, .parent .mb-14, .parent .mb-13, .parent .mb-12, .parent .mb-11, .parent .mb-10, .parent .mb-9, .parent .mb-8, .parent .mb-7, .parent .mb-6, .parent .mb-5, .parent .mb-4, .parent .mb-3, .parent .mb-2, .parent .mb-1 {
    width: 96.875%;
}
}
.pseudo {
    content: " ";
    display: block;
    font-size: 0 !important;
    overflow: hidden !important;
    text-indent: 100% !important;
    white-space: nowrap !important;
}
.respond {
    height: auto;
    max-width: 100%;
}
.hide-text {
    display: block;
    font-size: 0 !important;
    overflow: hidden !important;
    text-indent: 100% !important;
    white-space: nowrap !important;
}
.unhide-text {
    display: block;
    font-size: 100% !important;
    overflow: visible !important;
    text-indent: 0 !important;
    white-space: normal !important;
}
.clearfix {
    display: block;
}
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.clear {
    clear: both;
}
img {
    font-size: 10px;
    height: auto;
    line-height: 110%;
    max-width: 100%;
    overflow: hidden;
    text-align: center;
}
hr {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #CCCCCC -moz-use-text-color -moz-use-text-color;
    border-image: none;
    border-right: 0 none;
    border-style: dotted none none;
    border-width: 1px 0 0;
    clear: both;
    margin-bottom: 20px;
}
.left {
    float: left !important;
    margin-bottom: 2.08333%;
    margin-right: 2.08333% !important;
}
.right {
    float: right !important;
    margin-bottom: 2.08333%;
    margin-left: 2.08333% !important;
}
.center {
    display: block !important;
    float: none !important;
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: center;
}
.right-indent {
    margin-right: 60px !important;
}
.left-indent {
    margin-left: 60px !important;
}
* {
    max-width: 100%;
}
nav ul {
    margin: 0;
}
.tools {
    text-align: left;
}
.tools nav li {
    display: inline-block;
}
.tools nav {
    float: left;
}
.tools nav + nav {
    float: right;
}
.tools nav {
    display: inline-block;
}
.tools li:after {
    content: " |";
    margin: 0.5em;
}
.tools li:last-child:after {
    content: "";
    margin: 0;
}
.tools a {
    display: inline-block;
}
.tools nav {
    font-size: 13px;
}
.tools nav a {
    padding: 12px 14px;
}
.tools nav a:link, .tools nav a:visited {
    color: #006666;
}
.tools nav a:hover, .tools nav a:active, .tools nav a:focus {
    color: #330066;
}
.tools nav li:first-child a {
    padding-left: 0;
}
.tools nav li:last-child a {
    padding-right: 0;
}
.tools nav:nth-last-child(2):first-child li:last-child a, .tools nav:nth-child(2):last-child li:first-child a {
    padding: 12px 14px;
}
header nav {
    display: block;
}
header nav li {
    display: inline-block;
}
header nav {
    width: 100%;
}
header nav ul {
    display: table;
    width: 100%;
}
header nav li {
    display: table-cell;
}
header ul {
    font-size: 0;
}
header a {
    border-right: 0 none;
    display: block;
    text-decoration: none;
}
header nav li {
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    vertical-align: middle;
}
header nav li:hover {
    background-color: #EEEEEE;
}
header nav a {
    color: #006666;
    font-size: 13px;
    padding: 14px 16px;
}
header nav li:last-child a {
    border-right: 1px solid #FFFFFF;
}
header nav {
    font-size: 13px;
}
header nav a {
    padding: 14px 16px;
}
header nav a:link, header nav a:visited {
    color: #006666;
}
header nav a:hover, header nav a:active, header nav a:focus {
    color: #330066;
}
.breadcrumbs {
    font-size: 0;
}
.breadcrumbs li {
    display: inline-block;
    font-size: 13px;
}
.breadcrumbs a, .breadcrumbs span {
    display: block;
}
.breadcrumbs a:link, .breadcrumbs a:visited {
    color: #006666;
}
.breadcrumbs a:hover, .breadcrumbs a:active, .breadcrumbs a:focus {
    color: #330066;
}
.breadcrumbs li {
    vertical-align: middle;
}
.breadcrumbs li:before {
    content: ">";
}
.breadcrumbs li a, .breadcrumbs li span {
    display: inline-block;
    height: 2em;
    line-height: 1.7em;
    padding: 0 1em;
    vertical-align: middle;
}
.breadcrumbs li:first-child:before {
    content: " ";
    display: block;
    font-size: 0 !important;
    overflow: hidden !important;
    text-indent: 100% !important;
    white-space: nowrap !important;
}
nav.side {
    font-size: 14px;
}
nav.side li {
    display: block;
}
nav.side a {
    background-color: #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    display: block;
    padding: 12px 14px;
}
nav.side a:link, nav.side a:visited {
    color: #006666;
}
nav.side a:hover, nav.side a:active, nav.side a:focus {
    background-color: #EEEEEE;
    color: #330066;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Raleway;
    font-weight: 200;
}
.h1 {
    font-size: 40px;
    line-height: 1.2;
}
.h2 {
    font-size: 36px;
    line-height: 1.2;
}
.h3 {
    font-size: 32px;
    font-weight: 300;
    line-height: 1.2;
}
.h4 {
    font-size: 28px;
    font-weight: 300;
    line-height: 1.2;
}
.h5 {
    font-size: 24px;
    font-weight: 400;
    line-height: 1.2;
}
.h6 {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.4;
}
h1 {
    font-size: 40px;
    line-height: 1.2;
}
h2 {
    font-size: 36px;
    line-height: 1.2;
}
h3 {
    font-size: 32px;
    font-weight: 300;
    line-height: 1.2;
}
h4 {
    font-size: 28px;
    font-weight: 300;
    line-height: 1.2;
}
h5 {
    font-size: 24px;
    font-weight: 400;
    line-height: 1.2;
}
h6 {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.4;
}
p {
    font-family: "Droid Sans";
}
strong {
    font-weight: 700;
}
.tools nav li {
    font-family: Raleway;
    font-weight: 700;
}
header nav li {
    font-family: Raleway;
    font-weight: 700;
}
nav.breadcrumbs li {
    font-family: Raleway;
    font-weight: 700;
}
nav.side li {
    font-family: Raleway;
    font-weight: 700;
}
.badge {
    border-radius: 1em;
    display: inline-block;
    font-size: 11px;
    line-height: 1em;
    min-width: 1em;
    padding: 3px 4px;
    text-align: center;
}
.bar-chart {
    display: block;
    position: relative;
}
.bar-chart:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.bar-chart .x-axis, .bar-chart .y-axis {
    display: block;
    position: absolute;
}
.bar-chart .x-axis {
    bottom: 0;
    left: 22px;
}
.bar-chart .y-axis {
    left: 0;
    top: 22px;
    transform: rotate(90deg);
    transform-origin: 50% 0 0;
}
.bar-chart dl {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    color: #000000;
    display: block;
    margin: 0 22px 22px;
    width: 500px;
}
.bar-chart dl:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.bar-chart dt {
    clear: left;
    float: left;
    margin: 2px;
    padding: 2px 6px;
    text-align: right;
}
.bar-chart dt {
    transform: rotate(0deg);
    transform-origin: 80% 100% 0;
}
.bar-chart dd {
    -moz-box-sizing: border-box;
    background-color: #666666;
    color: #FFFFFF;
    float: left;
    font-size: 0;
    margin: 2px;
    padding: 2px 6px;
    text-align: right;
    text-indent: 999em;
}
.bar-chart dd:before {
    content: attr(data-value);
    display: block;
    font-size: 13px;
}
.bar-chart dd:nth-of-type(1) {
    margin-top: 4px;
}
.bar-chart dd:nth-last-of-type(1) {
    margin-bottom: 4px;
}
.bar-chart [data-value="100"] {
    width: 100%;
}
.bar-chart [data-value="99"] {
    width: 99%;
}
.bar-chart [data-value="98"] {
    width: 98%;
}
.bar-chart [data-value="97"] {
    width: 97%;
}
.bar-chart [data-value="96"] {
    width: 96%;
}
.bar-chart [data-value="95"] {
    width: 95%;
}
.bar-chart [data-value="94"] {
    width: 94%;
}
.bar-chart [data-value="93"] {
    width: 93%;
}
.bar-chart [data-value="92"] {
    width: 92%;
}
.bar-chart [data-value="91"] {
    width: 91%;
}
.bar-chart [data-value="90"] {
    width: 90%;
}
.bar-chart [data-value="89"] {
    width: 89%;
}
.bar-chart [data-value="88"] {
    width: 88%;
}
.bar-chart [data-value="87"] {
    width: 87%;
}
.bar-chart [data-value="86"] {
    width: 86%;
}
.bar-chart [data-value="85"] {
    width: 85%;
}
.bar-chart [data-value="84"] {
    width: 84%;
}
.bar-chart [data-value="83"] {
    width: 83%;
}
.bar-chart [data-value="82"] {
    width: 82%;
}
.bar-chart [data-value="81"] {
    width: 81%;
}
.bar-chart [data-value="80"] {
    width: 80%;
}
.bar-chart [data-value="79"] {
    width: 79%;
}
.bar-chart [data-value="78"] {
    width: 78%;
}
.bar-chart [data-value="77"] {
    width: 77%;
}
.bar-chart [data-value="76"] {
    width: 76%;
}
.bar-chart [data-value="75"] {
    width: 75%;
}
.bar-chart [data-value="74"] {
    width: 74%;
}
.bar-chart [data-value="73"] {
    width: 73%;
}
.bar-chart [data-value="72"] {
    width: 72%;
}
.bar-chart [data-value="71"] {
    width: 71%;
}
.bar-chart [data-value="70"] {
    width: 70%;
}
.bar-chart [data-value="69"] {
    width: 69%;
}
.bar-chart [data-value="68"] {
    width: 68%;
}
.bar-chart [data-value="67"] {
    width: 67%;
}
.bar-chart [data-value="66"] {
    width: 66%;
}
.bar-chart [data-value="65"] {
    width: 65%;
}
.bar-chart [data-value="64"] {
    width: 64%;
}
.bar-chart [data-value="63"] {
    width: 63%;
}
.bar-chart [data-value="62"] {
    width: 62%;
}
.bar-chart [data-value="61"] {
    width: 61%;
}
.bar-chart [data-value="60"] {
    width: 60%;
}
.bar-chart [data-value="59"] {
    width: 59%;
}
.bar-chart [data-value="58"] {
    width: 58%;
}
.bar-chart [data-value="57"] {
    width: 57%;
}
.bar-chart [data-value="56"] {
    width: 56%;
}
.bar-chart [data-value="55"] {
    width: 55%;
}
.bar-chart [data-value="54"] {
    width: 54%;
}
.bar-chart [data-value="53"] {
    width: 53%;
}
.bar-chart [data-value="52"] {
    width: 52%;
}
.bar-chart [data-value="51"] {
    width: 51%;
}
.bar-chart [data-value="50"] {
    width: 50%;
}
.bar-chart [data-value="49"] {
    width: 49%;
}
.bar-chart [data-value="48"] {
    width: 48%;
}
.bar-chart [data-value="47"] {
    width: 47%;
}
.bar-chart [data-value="46"] {
    width: 46%;
}
.bar-chart [data-value="45"] {
    width: 45%;
}
.bar-chart [data-value="44"] {
    width: 44%;
}
.bar-chart [data-value="43"] {
    width: 43%;
}
.bar-chart [data-value="42"] {
    width: 42%;
}
.bar-chart [data-value="41"] {
    width: 41%;
}
.bar-chart [data-value="40"] {
    width: 40%;
}
.bar-chart [data-value="39"] {
    width: 39%;
}
.bar-chart [data-value="38"] {
    width: 38%;
}
.bar-chart [data-value="37"] {
    width: 37%;
}
.bar-chart [data-value="36"] {
    width: 36%;
}
.bar-chart [data-value="35"] {
    width: 35%;
}
.bar-chart [data-value="34"] {
    width: 34%;
}
.bar-chart [data-value="33"] {
    width: 33%;
}
.bar-chart [data-value="32"] {
    width: 32%;
}
.bar-chart [data-value="31"] {
    width: 31%;
}
.bar-chart [data-value="30"] {
    width: 30%;
}
.bar-chart [data-value="29"] {
    width: 29%;
}
.bar-chart [data-value="28"] {
    width: 28%;
}
.bar-chart [data-value="27"] {
    width: 27%;
}
.bar-chart [data-value="26"] {
    width: 26%;
}
.bar-chart [data-value="25"] {
    width: 25%;
}
.bar-chart [data-value="24"] {
    width: 24%;
}
.bar-chart [data-value="23"] {
    width: 23%;
}
.bar-chart [data-value="22"] {
    width: 22%;
}
.bar-chart [data-value="21"] {
    width: 21%;
}
.bar-chart [data-value="20"] {
    width: 20%;
}
.bar-chart [data-value="19"] {
    width: 19%;
}
.bar-chart [data-value="18"] {
    width: 18%;
}
.bar-chart [data-value="17"] {
    width: 17%;
}
.bar-chart [data-value="16"] {
    width: 16%;
}
.bar-chart [data-value="15"] {
    width: 15%;
}
.bar-chart [data-value="14"] {
    width: 14%;
}
.bar-chart [data-value="13"] {
    width: 13%;
}
.bar-chart [data-value="12"] {
    width: 12%;
}
.bar-chart [data-value="11"] {
    width: 11%;
}
.bar-chart [data-value="10"] {
    width: 10%;
}
.bar-chart [data-value="9"] {
    width: 9%;
}
.bar-chart [data-value="8"] {
    width: 8%;
}
.bar-chart [data-value="7"] {
    width: 7%;
}
.bar-chart [data-value="6"] {
    width: 6%;
}
.bar-chart [data-value="5"] {
    width: 5%;
}
.bar-chart [data-value="4"] {
    width: 4%;
}
.bar-chart [data-value="3"] {
    width: 3%;
}
.bar-chart [data-value="2"] {
    width: 2%;
}
.bar-chart [data-value="1"] {
    width: 1%;
}
.bar-chart [data-value="0"] {
    width: 0;
}
.bar-chart [data-value="20"]:before {
    color: #000000;
    left: 30px;
    position: relative;
    text-align: right;
}
.bar-chart [data-value="19"]:before {
    color: #000000;
    left: 30px;
    position: relative;
    text-align: right;
}
.bar-chart [data-value="18"]:before {
    color: #000000;
    left: 30px;
    position: relative;
    text-align: right;
}
.bar-chart [data-value="17"]:before {
    color: #000000;
    left: 30px;
    position: relative;
    text-align: right;
}
.bar-chart [data-value="16"]:before {
    color: #000000;
    left: 30px;
    position: relative;
    text-align: right;
}
.bar-chart [data-value="15"]:before {
    color: #000000;
    left: 30px;
    position: relative;
    text-align: right;
}
.bar-chart [data-value="14"]:before {
    color: #000000;
    left: 30px;
    position: relative;
    text-align: right;
}
.bar-chart [data-value="13"]:before {
    color: #000000;
    left: 30px;
    position: relative;
    text-align: right;
}
.bar-chart [data-value="12"]:before {
    color: #000000;
    left: 30px;
    position: relative;
    text-align: right;
}
.bar-chart [data-value="11"]:before {
    color: #000000;
    left: 30px;
    position: relative;
    text-align: right;
}
.bar-chart [data-value="10"]:before {
    color: #000000;
    left: 30px;
    position: relative;
    text-align: right;
}
.bar-chart [data-value="9"]:before {
    color: #000000;
    left: 30px;
    position: relative;
    text-align: right;
}
.bar-chart [data-value="8"]:before {
    color: #000000;
    left: 30px;
    position: relative;
    text-align: right;
}
.bar-chart [data-value="7"]:before {
    color: #000000;
    left: 30px;
    position: relative;
    text-align: right;
}
.bar-chart [data-value="6"]:before {
    color: #000000;
    left: 30px;
    position: relative;
    text-align: right;
}
.bar-chart [data-value="5"]:before {
    color: #000000;
    left: 30px;
    position: relative;
    text-align: right;
}
.bar-chart [data-value="4"]:before {
    color: #000000;
    left: 30px;
    position: relative;
    text-align: right;
}
.bar-chart [data-value="3"]:before {
    color: #000000;
    left: 30px;
    position: relative;
    text-align: right;
}
.bar-chart [data-value="2"]:before {
    color: #000000;
    left: 30px;
    position: relative;
    text-align: right;
}
.bar-chart [data-value="1"]:before {
    color: #000000;
    left: 30px;
    position: relative;
    text-align: right;
}
.bar-chart [data-value="0"]:before {
    color: #000000;
    left: 30px;
    position: relative;
    text-align: right;
}
.bar-chart-vertical {
    transform: rotate(-90deg);
}
.chat blockquote {
    border-radius: 4px;
    display: block;
    margin-bottom: 20px;
    padding: 10px;
    position: relative;
}
.chat blockquote:before {
    border-style: solid;
    bottom: -12.3333px;
    content: " ";
    display: block;
    font-size: 0 !important;
    overflow: hidden !important;
    position: absolute;
    text-indent: 100% !important;
    white-space: nowrap !important;
}
.chat blockquote:nth-child(2n+1) {
    background-color: #DDDDDD;
    color: #222222;
    margin-right: 20px;
}
.chat blockquote:nth-child(2n+1):before {
    border-color: rgba(0, 0, 0, 0) #DDDDDD;
    border-width: 0 0 13.3333px 20px;
    left: 10px;
}
.chat blockquote:nth-child(2n) {
    background-color: #EEEEEE;
    color: #333333;
    margin-left: 20px;
}
.chat blockquote:nth-child(2n):before {
    border-color: rgba(0, 0, 0, 0) #EEEEEE;
    border-width: 0 20px 13.3333px 0;
    right: 10px;
}
.feature a {
    display: block;
    position: relative;
}
.feature a img {
    display: block;
    width: 100%;
}
.feature a img, .feature .caption {
    transition: all 0.2s ease-in-out 0s;
}
.feature a:hover img {
    opacity: 0.8;
}
.feature .caption {
    background-color: rgba(0, 0, 0, 0.4);
    bottom: 0;
    color: #FFFFFF;
    font-family: Georgia,Constantia,"Times New Roman",sans-serif;
    font-size: 28px;
    left: 0;
    opacity: 0;
    padding: 10px;
    position: absolute;
    right: 0;
    text-align: center;
    text-decoration: none;
}
.feature a:hover .caption {
    opacity: 1;
}
.feature a {
    background-color: #000000;
}
.gallery li {
    display: inline-block;
}
.gallery li a {
    display: block;
}
.gallery li img {
    display: block;
}
.gallery div {
    -moz-box-sizing: border-box;
    padding: 6px;
}
.gallery div:hover {
    border: 1px solid #CCCCCC;
}
.highlight {
    background-color: #EEEEEE;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    color: #000000;
    margin-bottom: 1em;
    padding: 12px;
}
.highlight p:last-child {
    margin-bottom: 0;
}
.pagination ol {
    display: table;
}
.pagination ol li {
    display: table-cell;
    padding-right: 5px;
}
.pagination ol li:last-child {
    padding-right: 0;
}
.pagination ol li a, .pagination ol li span {
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    display: block;
    padding: 0.75em 1em;
    text-decoration: none;
}
.pagination ol li span {
    background-color: #222222;
    color: #EEEEEE;
}
.pagination ol li a:link, .pagination ol li a:visited {
    background-color: #EEEEEE;
    color: #222222;
}
.pagination ol li a:hover, .pagination ol li a:active {
    background-color: #DDDDDD;
    color: #111111;
}
progress {
    background: none repeat scroll 0 0 #EEEEEE;
    border: 0 none;
    height: 12px;
}
progress::-moz-progress-bar {
    background: none repeat scroll 0 0 #999999;
}
p[data-pullquote]:before {
    background-color: #EEEEEE;
    border-radius: 5px;
    color: #666666;
    content: attr(data-pullquote);
    display: block;
    font-size: 16px;
    padding: 12px;
    width: 20%;
}
p[data-pullquote][data-pullquote-position="left"]:before {
    float: left;
    margin: 0 12px 12px 0;
}
p[data-pullquote][data-pullquote-position="right"]:before {
    float: right;
    margin: 0 0 12px 12px;
}
p[data-pullquote][data-pullquote-position="centre"]:before {
    left: 40%;
    position: relative;
    right: 40%;
}
table th {
    padding: 10px 18px;
}
table td {
    padding: 10px 18px;
}
table thead th {
    background-color: #CCCCCC;
    color: #000000;
    font-weight: bold;
}
table tbody th, table tbody td {
    background-color: #FFFFFF;
    color: #222222;
}
table tfoot th, table tfoot td {
    background-color: #EEEEEE;
    color: #333333;
}
table.all-borders {
    border: 1px solid #CCCCCC;
}
table.all-borders th, table.all-borders td {
    border: 1px solid #CCCCCC;
}
table.h-borders th, table.h-borders td {
    border-bottom: 1px solid #CCCCCC;
}
table.striped tr:nth-child(2n) th, table.striped tr:nth-child(2n) td {
    background-color: #DDDDDD;
}
table.hover tr:nth-child(2n):hover th, table.hover tr:nth-child(2n+1):hover th, table.hover tr:nth-child(2n):hover td, table.hover tr:nth-child(2n+1):hover td {
    background-color: #666666;
    color: #FFFFFF;
}
table.comparrison th:nth-child(1), table.comparrison td:nth-child(1) {
    background-color: #FFFFFF;
    color: #000000;
}
table.comparrison th:nth-child(2), table.comparrison td:nth-child(2) {
    background-color: #F6F6F6;
    color: #000000;
}
table.comparrison th:nth-child(3), table.comparrison td:nth-child(3) {
    background-color: #EEEEEE;
    color: #000000;
}
table.comparrison th:nth-child(4), table.comparrison td:nth-child(4) {
    background-color: #E5E5E5;
    color: #000000;
}
table.comparrison th:nth-child(5), table.comparrison td:nth-child(5) {
    background-color: #DDDDDD;
    color: #000000;
}
table.comparrison th:nth-child(6), table.comparrison td:nth-child(6) {
    background-color: #D4D4D4;
    color: #000000;
}
table.comparrison .promote {
    border-color: -moz-use-text-color #000000;
    border-left: 2px solid #000000;
    border-right: 2px solid #000000;
    border-style: none solid;
    border-width: 0 2px;
}
table.comparrison > *:first-child tr:first-child .promote {
    border-top: 2px solid #000000;
}
table.comparrison tfoot .promote, table.comparrison > *:last-child tr:last-child .promote {
    border-bottom: 2px solid #000000;
}
table.comparrison tfoot + tbody:last-child tr:last-child .promote {
    border-bottom: 0 none;
}
table .numeric {
    text-align: right;
}
.tabs ul {
    display: table;
    margin-bottom: 0;
}
.tabs ul li {
    display: table-cell;
}
.tabs ul li a, .tabs ul li span, .tabs ul li label {
    background-color: #EEEEEE;
    border-radius: 5px 5px 0 0;
    color: #222222;
    display: block;
    padding: 0.75em 2em;
    text-decoration: none;
}
.tabs ul li span, .tabs ul li label:active {
    background-color: #222222;
    color: #EEEEEE;
}
.tabs ul li a, .tabs ul li label {
    cursor: pointer;
}
.tabs ul li a:link, .tabs ul li label:link, .tabs ul li a:visited, .tabs ul li label:visited {
    background-color: #EEEEEE;
    color: #222222;
}
.tabs ul li a:hover, .tabs ul li label:hover, .tabs ul li a:active, .tabs ul li label:active {
    background-color: #DDDDDD;
    color: #111111;
}
.tabs .tabbed-content > div {
    border: 1px solid #CCCCCC;
    margin-top: -1px;
    padding: 12px;
}
.tabs a, .tabs span, .tabs label {
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
    margin-left: -1px;
}
.tabs fieldset.tabbed-content > div, .tabs fieldset.tabbed-content input[type="radio"] {
    display: none;
}
.tabs input[id="tab-4"]:checked ~ #tabbed-content-4 {
    display: block;
}
.tabs input[id="tab-3"]:checked ~ #tabbed-content-3 {
    display: block;
}
.tabs input[id="tab-2"]:checked ~ #tabbed-content-2 {
    display: block;
}
.tabs input[id="tab-1"]:checked ~ #tabbed-content-1 {
    display: block;
}
.tabs input[id="tab-0"]:checked ~ #tabbed-content-0 {
    display: block;
}
.tags {
    display: block;
}
.tags li {
    float: left;
}
.tags li a, .tags li span {
    display: block;
    padding: 0.25em 1em;
    text-decoration: none;
}
.tags li span {
    background-color: #EEEEEE;
    color: #222222;
}
.tags li a:link, .tags li a:visited {
    background-color: #EEEEEE;
    color: #222222;
}
.tags li a:hover, .tags li a:active {
    background-color: #DDDDDD;
    color: #111111;
}
.stepped .step:nth-child(2n+1) {
    background-color: #EEEEEE;
    color: #333333;
}
.stepped .step:nth-child(2n) {
    background-color: #DDDDDD;
    color: #000000;
}
.corner-ribbon {
    overflow: hidden;
    position: relative;
}
.corner-ribbon .ribbon {
    -moz-box-sizing: border-box;
    background-color: #000000;
    border-bottom: 1px solid #AAAAAA;
    border-top: 1px solid #AAAAAA;
    bottom: auto;
    color: #FFFFFF;
    left: auto;
    padding: 3px 0 5px;
    position: absolute;
    right: auto;
    text-align: center;
    top: auto;
    width: 150px;
}
.corner-ribbon .ribbon.top {
    top: 35px;
}
.corner-ribbon .ribbon.left {
    left: -35px;
}
.corner-ribbon .ribbon.right {
    right: -35px;
}
.corner-ribbon .ribbon.bottom {
    bottom: 25px;
}
.corner-ribbon .ribbon.top.left {
    transform: rotate(-45deg);
}
.corner-ribbon .ribbon.top.right {
    transform: rotate(45deg);
}
.corner-ribbon .ribbon.bottom.left {
    transform: rotate(45deg);
}
.corner-ribbon .ribbon.bottom.right {
    transform: rotate(-45deg);
}
.gsform {
    display: block;
    float: left;
    width: 100%;
}
.gsform:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.gsform .box {
    border: 0 none;
}
.gsform ol li fieldset {
    border: 0 none;
    display: block;
    margin-bottom: 15px;
    width: 100%;
}
.gsform ol li, .gsform .gs700 ol li {
    -moz-box-sizing: border-box;
    border: 0 none;
    float: none;
    font-size: 0;
    margin-bottom: 0;
    padding: 0 0 0 36%;
    text-indent: -32%;
    width: 100% !important;
}
.gsform ol li *, .gsform .gs700 ol li * {
    display: inline-block;
    font-size: 13px;
    text-indent: 0;
    vertical-align: middle;
}
.gsform li > textarea, .gsform .gs700 li > textarea, .gsform select[multiple], .gsform select[size] {
    vertical-align: top;
}
.gsform legend {
    font-size: 32px;
    font-weight: 300;
    line-height: 1.2;
    margin-right: 20px;
    white-space: normal;
}
.gsform legend + *, .gsform legend + input[type="hidden"] + * {
    margin-top: 5px;
}
.gsform label, .gsform .label, .gsform .logic {
    -moz-box-sizing: border-box;
    margin-bottom: 10px;
    margin-right: 0;
    padding: 0 20px 0 0;
    text-align: right;
    width: 50%;
}
.gsform .logic {
    padding-bottom: 0.5em;
}
.gsform label img {
    vertical-align: middle;
}
.gsform label strong + span {
    display: block;
}
.gsform ol li p label, .gsform ol li p .note, .gsform .optional {
    margin: 0 3% 0 0;
    max-width: 100%;
    text-align: left;
    width: auto;
}
.gsform label:first-child, .gsform .label:first-child, .gsform p:first-child, .gsform p:first-child + label {
    -moz-box-sizing: border-box;
    display: inline-block;
    margin-left: 0;
    text-indent: 0;
}
.gsform p {
    display: block;
    margin: 0 3% 0.5em -56%;
}
.gsform p:first-child {
    display: block;
    margin-left: -56%;
    max-width: 150%;
    width: 150%;
}
.gsform p:first-child + label {
    margin-left: -50% !important;
}
.gsform p:only-child {
    width: 150%;
}
.gsform p:last-child {
    margin-bottom: 0.5em;
}
.gsform p + textarea.gs700 {
    margin-left: -56%;
}
.gsform input + p {
    display: inline-block;
    width: 160%;
}
.gsform ol li input ~ label, .gsform ol li textarea ~ label, .gsform ol li select ~ label {
    max-width: none;
    padding: 0;
    text-align: left;
    width: 90%;
}
.gsform .note {
    color: #999999;
    margin-bottom: 10px;
    margin-right: 10px;
}
.gsform .note a:first-child {
    margin-left: 0 !important;
}
.gsform .summary {
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 2em !important;
}
.gsform .button:first-child, .gsform a:first-child {
    margin-left: 50%;
}
.gsform textarea, .gsform label[for="newsletter"] {
    vertical-align: top;
}
.gsform input, .gsform button, .gsform select, .gsform textarea, .gsform span.readonly {
    margin-bottom: 10px;
    margin-right: 4%;
}
.gsform select {
    margin-right: 3%;
}
.gsform input[type="text"], .gsform input[type="password"], .gsform input[type="email"], .gsform input[type="number"], .gsform input[type="date"], .gsform input[type="range"], .gsform textarea, .gsform span.readonly {
    -moz-box-sizing: border-box;
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 2px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.05) inset;
    padding: 1px 4px 2px;
    width: 50%;
}
.gsform span.readonly, .gsform input[readonly], .gsform input[readonly]:focus {
    background-color: #EEEEEE;
    border-color: #EEEEEE !important;
    box-shadow: none !important;
    color: #555555;
    pointer-events: none;
}
.gsform optgroup, .gsform option {
    display: block !important;
}
.gsform input[type="checkbox"], .gsform input[type="radio"] {
    background-color: rgba(0, 0, 0, 0) !important;
    clear: left;
    margin-bottom: 10px;
    margin-right: 10px !important;
    position: relative;
}
.gsform input[type="text"]:not([class*="gs"]), .gsform input[type="password"]:not([class*="gs"]), .gsform input[type="email"]:not([class*="gs"]), .gsform input[type="number"]:not([class*="gs"]), .gsform input[type="date"]:not([class*="gs"]), .gsform input[type="range"]:not([class*="gs"]), .gsform select, .gsform textarea, .gsform span.readonly {
    min-width: 160px;
}
.gsform input.gs40 {
    min-width: 40px;
}
.gsform input.gs100 {
    min-width: 100px;
}
.gsform .button {
    margin-bottom: 10px;
}
.gsform .prefix, .gsform .suffix {
    position: relative;
    text-align: center;
    z-index: 1;
}
.gsform .prefix {
    border-right: 1px solid #CCCCCC;
    left: 34px;
    margin: 0 0 10px -33px !important;
    padding: 2px 0 1px 2px;
    width: 31px;
}
.gsform .suffix {
    border-left: 1px solid #CCCCCC;
    color: #333333;
    left: -64px;
    margin: 0 0 10px;
    padding: 2px 0 1px 2px;
    text-align: right;
    width: 31px;
}
.gsform .separator {
    margin: 0 6px 10px -6px;
}
.gsform .prefix + input {
    padding-left: 35px;
}
.gsform .suffix + input {
    margin-left: -33px;
    padding-right: 35px;
}
.gsform li input[type="text"]:focus, .gsform li input[type="password"]:focus, .gsform li input[type="email"]:focus, .gsform li input[type="number"]:focus, .gsform li input[type="date"]:focus, .gsform li input[type="range"]:focus, .gsform li textarea:focus {
    background-color: #F9F9F9;
    border: 1px solid #666666;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}
.gsform input.button:focus {
    box-shadow: 0 0 rgba(0, 0, 0, 0);
}
.gsform buttongroup {
    margin: 0 3% 10px 36%;
}
.gsform buttongroup .button {
    margin: 0 -3px 0 0 !important;
}
.gsform buttongroup .button:last-child {
    margin-right: 0 !important;
}
.gsform buttongroup .button:not(:last-child) {
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
}
.gsform buttongroup .button:not(:first-child) {
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
}
.gsform [required="true"], .gsform [class="required"] ~ input, .gsform [class="required"] ~ textarea, .gsform [class="required"] ~ select {
    background-color: #FFFFFF;
    border: 1px solid #999999;
}
.gsform [title="Required"] label:after {
    content: "*";
}
.gsform [title="Required"] [type="radio"] ~ label:after, .gsform [title="Required"] [type="checkbox"] ~ label:after {
    content: "";
}
.gsform label.required {
    font-weight: bold;
}
.gsform ol li label.error, .gsform ol li.error label {
    color: #CC0000;
}
.gsform ol li label.error {
    width: auto !important;
}
.gsform .error ~ .note, .gsform li.error .note {
    display: none;
}
.gsform input.error, .gsform textarea.error, .gsform li.error input, .gsform li.error textarea {
    background-color: #FFB3B3 !important;
    border-color: #FFCCCC !important;
    color: #CC0000;
}
.gsform.fatform li, .gsform .fatform li {
    padding: 10px;
}
.gsform.fatform input[type="text"], .gsform .fatform input[type="text"], .gsform.fatform input[type="password"], .gsform .fatform input[type="password"], .gsform.fatform input[type="email"], .gsform .fatform input[type="email"], .gsform.fatform input[type="number"], .gsform .fatform input[type="number"], .gsform.fatform input[type="date"], .gsform .fatform input[type="date"], .gsform.fatform input[type="range"], .gsform .fatform input[type="range"], .gsform.fatform textarea, .gsform .fatform textarea, .gsform.fatform select, .gsform .fatform select {
    font-size: 20px;
    padding: 10px;
}
.gsform.fatform input[type="submit"], .gsform .fatform input[type="submit"] {
    font-size: 20px;
}
.gsform.fatform label, .gsform .fatform label, .gsform.fatform span, .gsform .fatform span {
    font-size: 20px;
}
.gsform .vertical p {
    margin-left: 0;
    max-width: 100%;
}
.gsform .vertical p + textarea.gs700 {
    margin-left: 0;
    width: 97.2222% !important;
}
.gsform .vertical input[type="file"] + input[type="file"], .gsform .vertical buttongroup {
    margin-left: 0;
}
.gsform .vertical label, .gsform .vertical p label {
    text-align: left;
    width: 90%;
}
.gsform .vertical .button, .gsform .vertical .button:first-child, .gsform .vertical a, .gsform .vertical input[type="checkbox"], .gsform .vertical input[type="radio"] {
    margin-left: 0;
}
.gsform .vertical input[type="text"], .gsform .vertical input[type="password"], .gsform .vertical input[type="email"], .gsform .vertical textarea, .gsform .vertical span.readonly {
    width: 95%;
}
.gsform .vertical .note {
    margin: -5px 0 8px;
    max-width: 100%;
}
.gsform .vertical input[type="checkbox"] + label, .gsform .vertical input[type="radio"] + label {
    margin-left: -30px;
    padding-left: 30px;
    width: 100% !important;
}
.gsform .wide label {
    width: 47.4%;
}
.gsform .wide input, .gsform .wide select, .gsform .wide textarea, .gsform .wide span.readonly {
    width: 47%;
}
.gsform .wide input[type="checkbox"] + label, .gsform .wide input[type="radio"] + label {
    width: 91%;
}
.gsform .wide .button:first-child, .gsform .wide a:first-child, .gsform .wide input[type="checkbox"], .gsform .wide input[type="radio"], .gsform .wide input[type="file"] + input[type="file"] {
    margin-left: 0;
}
.gsform .wide .note {
    max-width: 45%;
}
.gsform .wide input[type="submit"] + .note {
    display: block;
    margin-top: 10px;
}
.gsform .wide input[type="submit"] + .note a {
    text-decoration: underline;
}
.gsform .inline li {
    display: inline;
}
.gsform .inline label, .gsform .inline .note, .gsform .inline input, .gsform .inline input + label {
    display: inline-block;
    margin-bottom: 5px;
    width: auto;
}
.gsform .inline input, .gsform .inline label {
    margin-left: 0;
    margin-right: 3%;
}
.gsform .inline label {
    padding: 0 1.5% 0 0 !important;
}
.gsform .inline-vertical li {
    display: inline-block;
    width: auto !important;
}
.gsform .inline-vertical label, .gsform .inline-vertical .note, .gsform .inline-vertical input, .gsform .inline-vertical input + label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
    width: auto;
}
.gsform .inline-vertical input, .gsform .inline-vertical label {
    margin-left: 0;
    margin-right: 3%;
}
.gsform .inline-vertical label {
    padding: 0 1.5% 0 0 !important;
}
.gsform .hidden-labels label {
    display: inline-block;
    font-size: 0 !important;
    margin: 0 !important;
    overflow: hidden !important;
    padding: 0 !important;
    text-indent: 100% !important;
    white-space: nowrap !important;
}
.gsform .hidden-labels input {
    margin-right: 10px;
    padding-right: 10px;
}
.gsform .hidden-labels input.gs700 {
    width: calc(100% - 10px) !important;
}
.gsform .hidden-labels input.gs640 {
    width: calc(91.667% - 10px) !important;
}
.gsform .hidden-labels input.gs580 {
    width: calc(83.333% - 10px) !important;
}
.gsform .hidden-labels input.gs520 {
    width: calc(75% - 10px) !important;
}
.gsform .hidden-labels input.gs460 {
    width: calc(66.667% - 10px) !important;
}
.gsform .hidden-labels input.gs400 {
    width: calc(58.333% - 10px) !important;
}
.gsform .hidden-labels input.gs340 {
    width: calc(50% - 10px) !important;
}
.gsform .hidden-labels input.gs280 {
    width: calc(41.667% - 10px) !important;
}
.gsform .hidden-labels input.gs220 {
    width: calc(33.333% - 10px) !important;
}
.gsform .hidden-labels input.gs160 {
    width: calc(25% - 10px) !important;
}
.gsform .hidden-labels input.gs100 {
    width: calc(16.667% - 10px) !important;
}
.gsform .hidden-labels input.gs40 {
    width: calc(8.333% - 10px) !important;
}
.gsform fieldset fieldset li, .gsform .vertical li, .gsform .inline li, .gsform .inline-vertical li {
    -moz-box-sizing: border-box;
    padding-left: 0 !important;
    text-indent: 0;
}
.gsform fieldset fieldset li label:first-child, .gsform .vertical li label:first-child, .gsform .inline li label:first-child, .gsform .inline-vertical li label:first-child {
    text-indent: 0;
}
.gsform .vertical p:first-child {
    display: block;
    margin-left: 0;
    max-width: 100%;
}
.gsform .highlight li, .gsform .dividers li, .gsform .bordered li {
    margin-bottom: 2px;
    padding-top: 10px;
    position: relative;
    z-index: 1;
}
.gsform .highlight li:hover {
    background-color: #F5F5F5;
}
.gsform .dividers li:after {
    border-bottom: 1px dotted #CCCCCC;
    content: " ";
    display: block;
    font-size: 0 !important;
    margin-left: -47%;
    overflow: hidden !important;
    text-indent: 100% !important;
    white-space: nowrap !important;
    width: 143%;
}
.gsform .bordered {
    background-color: rgba(0, 0, 0, 0);
    display: block;
    position: relative;
}
.gsform .bordered:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.gsform .bordered:before {
    border: 1px solid #CCCCCC;
    bottom: 0;
    content: " ";
    display: block;
    font-size: 0 !important;
    left: 0;
    overflow: hidden !important;
    pointer-events: none;
    position: absolute;
    right: 20px;
    text-indent: 100% !important;
    top: 0;
    white-space: nowrap !important;
    z-index: 0;
}
.gsform .bordered legend {
    padding: 10px 0 0 12px !important;
}
.gsform .bordered .note {
    margin-right: 20px;
}
.gsform .bordered .buttongroup {
    background-color: #F8F8F8;
    display: block;
    margin: 0 24px 4px 4px;
    padding-left: 40%;
    width: auto !important;
}
.gsform .gs40 input, .gsform .gs40 textarea, .gsform .gs40 label {
    width: 40px;
}
.gsform .gs100 input, .gsform .gs100 textarea, .gsform .gs100 label {
    width: 100px;
}
.gsform .gs160 input, .gsform .gs160 textarea {
    width: 160px;
}
.gsform textarea.gs940 {
    width: 95%;
}
.gsform input[type="radio"], .gsform input[type="checkbox"] {
    width: auto;
}
.gsform input[value="Choose"], .gsform input[value="Edit"], .gsform input[value="Change"], .gsform input[value~="Find"] {
    min-width: 50px;
}
.gsform .date-month {
    min-width: 140px !important;
    width: 140px !important;
}
.gsform .date-year {
    min-width: 80px !important;
    width: 80px !important;
}
.gsform .issue-number {
    min-width: 70px !important;
    width: 70px !important;
}
.gsform #card_type {
    min-width: 160px !important;
    width: 160px !important;
}
.button, .button:link, .button:visited, .button:hover, .button:active {
    background: -moz-linear-gradient(center top , #45C351, #308638) no-repeat scroll 0 0 #339933;
    border: 0 none;
    border-radius: 5px;
    box-shadow: none;
    color: #FFFFFF;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    line-height: 18px;
    margin: 0 10px 10px 0;
    padding: 0.4em 1em;
    position: relative;
    text-decoration: none;
    text-shadow: none;
    vertical-align: baseline;
    white-space: nowrap;
}
.button.sml, .button.sml:link, .button.sml:visited, .button.sml:hover, .button.sml:active {
    border-radius: 5px;
    font-size: 13px;
    padding: 0.4em 1em;
}
.button.std, .button.std:link, .button.std:visited, .button.std:hover, .button.std:active {
    border-radius: 6px;
    font-size: 15.6px;
    padding: 0.48em 1.2em;
}
.button.lrg, .button.lrg:link, .button.lrg:visited, .button.lrg:hover, .button.lrg:active {
    border-radius: 7px;
    font-size: 18.2px;
    padding: 0.56em 1.4em;
}
.button:hover, .button:link:hover, .button:visited:hover, .button:hover:hover, .button:active:hover {
    background: -moz-linear-gradient(center top , #5AD766, #30AF3B) no-repeat scroll 0 0 #31C431;
}
.button.secondary, .button.secondary:link, .button.secondary:visited, .button.secondary:hover, .button.secondary:active {
    background: -moz-linear-gradient(center top , #3FB3F8, #2B77A5) no-repeat scroll 0 0 #41B3F9;
    border: 0 none;
    color: #FFFFFF;
}
.button.secondary:hover, .button.secondary:link:hover, .button.secondary:visited:hover, .button.secondary:hover:hover, .button.secondary:active:hover {
    background: -moz-linear-gradient(center top , #61C4FF, #2791D2) no-repeat scroll 0 0 #2493D6;
    border: 0 none;
    color: #FFFFFF;
}
.button[disabled], .button[disabled]:link, .button[disabled]:visited, .button[disabled]:hover, .button[disabled]:active {
    background: -moz-linear-gradient(center top , #CCCCCC, #CCCCCC) no-repeat scroll 0 0 #CCCCCC;
    border: 0 none;
    color: #EEEEEE;
    cursor: default;
    text-shadow: none;
}
.button.arrow:before {
    content: " ";
    display: inline-block;
    font-size: 0 !important;
    left: 0;
    overflow: hidden !important;
    position: absolute;
    text-indent: 100% !important;
    white-space: nowrap !important;
}
.button.sml.arrow {
    padding-left: 28px;
}
.button.sml.arrow:before {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #FFFFFF;
    border-image: none;
    border-style: solid;
    border-width: 6.6px 6.6px 6.6px 10px;
    line-height: 0;
    margin-left: 11px;
    margin-top: 1.5px;
    vertical-align: baseline;
}
.button.std.arrow {
    padding-left: 31.6px;
}
.button.std.arrow:before {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #FFFFFF;
    border-image: none;
    border-style: solid;
    border-width: 7.92px 7.92px 7.92px 12px;
    line-height: 0;
    margin-left: 11.2px;
    margin-top: 1.8px;
    vertical-align: baseline;
}
.button.lrg.arrow {
    padding-left: 35.2px;
}
.button.lrg.arrow:before {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #FFFFFF;
    border-image: none;
    border-style: solid;
    border-width: 9.24px 9.24px 9.24px 14px;
    line-height: 0;
    margin-left: 11.4px;
    margin-top: 2.1px;
    vertical-align: baseline;
}
@media print {
* {
    background-color: #FFFFFF;
    color: #666666;
}
a {
    text-decoration: underline;
}
a[href]:after {
    color: #999999;
    content: " (" attr(href) ")";
}
}
