// Teal Theme
/* 
The Teal theme is useful for developing sites with a single dominant colour. 
imply change the value of the @primary-colour var at the bottom of this file to the colour you want.
*/
// ###############################
// start colours.less
// ###############################
	.base-colors(#fff,#333); // Colour

// -------------------------------
// primary containers
// -------------------------------
	@colour-body-fg: #222; // Colour
	@colour-body-bg: #666; // Colour

	@colour-tools-fg: #fff; // Colour
	@colour-tools-bg: #fff; // Colour
	@colour-tools-inner-bg: #fff; // Colour

	@colour-header-bg: #fff; // Colour
	@colour-header-fg: #222; // Colour
	@colour-header-inner-bg: #fff; // Colour

	@colour-header-bg: @primary-colour; // Colour
	@colour-header-fg: #fff; // Colour
	@colour-header-inner-bg: @primary-colour; // Colour

	@colour-content-fg: #222; // Colour
	@colour-content-bg: #fff; // Colour
	@colour-content-inner-bg: #fff; // Colour

	@colour-footer-fg: #fff; // Colour
	@colour-footer-bg: @primary-colour; // Colour
	@colour-footer-inner-bg: @primary-colour; // Colour

// -------------------------------
// links
// -------------------------------
	@colour-link: #009; // Colour
	@colour-visited: #909; // Colour
	@colour-hover: #099; // Colour
	@colour-active: #990; // Colour

// -------------------------------
// text
// -------------------------------
	@colour-heading: @primary-colour; // Colour
	@colour-heading-alt: @primary-colour; // Colour
	@colour-text: #222; // Colour
	@colour-text-alt-1: #000; // Colour
	@colour-text-alt-2: #000; // Colour
	@colour-text-alt-3: #000; //colour
	@colour-border: #fff; // Colour

// -------------------------------
// tools navigation
// -------------------------------
	@colour-tools-nav-level-0-fg: #242424; // Colour
	@colour-tools-nav-level-0-bg: #fff; // Colour
	@colour-tools-nav-level-1-fg: #242424; // Colour
	@colour-tools-nav-level-1-bg: #fff; // Colour
	@colour-tools-nav-level-2-fg: #242424; // Colour
	@colour-tools-nav-level-2-bg: #fff; // Colour
	@colour-tools-nav-border: #fff; // Colour

	@colour-tools-nav-level-0-hover-fg: #306; // Colour
	@colour-tools-nav-level-0-hover-bg: #fff; // Colour
	@colour-tools-nav-level-1-hover-fg: #d59f35; // Colour
	@colour-tools-nav-level-1-hover-bg: #fff; // Colour
	@colour-tools-nav-level-2-hover-fg: #d59f35; // Colour
	@colour-tools-nav-level-2-hover-bg: #fff; // Colour
	@colour-tools-nav-border: #fff; // Colour

// -------------------------------
// header navigation
// -------------------------------
	@colour-header-nav-level-0-fg: #242424; // Colour
	@colour-header-nav-level-0-bg: #fff; // Colour
	@colour-header-nav-level-1-fg: #242424; // Colour
	@colour-header-nav-level-1-bg: #fff; // Colour
	@colour-header-nav-level-2-fg: #242424; // Colour
	@colour-header-nav-level-2-bg: #fff; // Colour
	@colour-header-nav-border: #fff; // Colour

	@colour-header-nav-level-0-hover-fg: #306; // Colour
	@colour-header-nav-level-0-hover-bg: #fff; // Colour
	@colour-header-nav-level-1-hover-fg: #d59f35; // Colour
	@colour-header-nav-level-1-hover-bg: #fff; // Colour
	@colour-header-nav-level-2-hover-fg: #d59f35; // Colour
	@colour-header-nav-level-2-hover-bg: #fff; // Colour
	@colour-header-nav-border: #fff; // Colour

// -------------------------------
// breadcrumbs navigation
// -------------------------------
	@colour-breadcrumbs-nav-level-0-fg: @primary-colour; // Colour
	@colour-breadcrumbs-nav-level-0-bg: #fff; // Colour
	@colour-breadcrumbs-nav-level-1-fg: @primary-colour; // Colour
	@colour-breadcrumbs-nav-level-1-bg: #fff; // Colour
	@colour-breadcrumbs-nav-level-1-hover-fg: #306; // Colour
	@colour-breadcrumbs-nav-level-1-hover-bg: #fff; // Colour
	@colour-breadcrumbs-nav-border: #fff; // Colour

// -------------------------------
// side navigation
// -------------------------------
	@colour-side-nav-level-0-fg: @primary-colour; // Colour
	@colour-side-nav-level-0-bg: #fff; // Colour
	@colour-side-nav-level-1-fg: @primary-colour; // Colour
	@colour-side-nav-level-1-bg: #fff; // Colour
	@colour-side-nav-level-2-fg: @primary-colour; // Colour
	@colour-side-nav-level-2-bg: #fff; // Colour
	@colour-side-nav-border: #fff; // Colour
	@colour-side-nav-level-0-hover-fg: #306; // Colour
	@colour-side-nav-level-0-hover-bg: #fff; // Colour
	@colour-side-nav-level-1-hover-fg: #306; // Colour
	@colour-side-nav-level-1-hover-bg: #fff; // Colour
	@colour-side-nav-level-2-hover-fg: #306; // Colour
	@colour-side-nav-level-2-hover-bg: #fff; //colour
	@colour-side-nav-border: #fff; // Colour

// -------------------------------
// footer navigation
// -------------------------------
// footer nav
	@colour-footer-nav-level-0-fg: @primary-colour; // Colour
	@colour-footer-nav-level-0-bg: #fff; // Colour
	@colour-footer-nav-level-1-fg: @primary-colour; // Colour
	@colour-footer-nav-level-1-bg: #fff; // Colour
	@colour-footer-nav-level-2-fg: @primary-colour; // Colour
	@colour-footer-nav-level-2-bg: #fff; // Colour
	@colour-footer-nav-border: #fff; // Colour
	@colour-footer-nav-level-0-hover-fg: #306; // Colour
	@colour-footer-nav-level-0-hover-bg: #fff; // Colour
	@colour-footer-nav-level-1-hover-fg: #306; // Colour
	@colour-footer-nav-level-1-hover-bg: #fff; // Colour
	@colour-footer-nav-level-2-hover-fg: #306; // Colour
	@colour-footer-nav-level-2-hover-bg: #fff; // Colour
	@colour-footer-nav-border: #fff; // Colour

// -------------------------------
// Flyout menus
// -------------------------------
	@has-flyout-tools: full-width; // full-width, multi-col, single-col
	@has-flyout-header: single-col; // full-width, multi-col, single-col
	@has-flyout-main: full-width; // full-width, multi-col, single-col
	@flyout-width: 70%; // number

// -------------------------------
// button colours
// -------------------------------
	@danger-action-bg: red; // Colour
	@danger-action-fg: white; // Colour
	@disabled-action-bg: lightgray; // Colour
	@disabled-action-fg: darkgrey; // Colour
	@primary-action-bg: blue; // Colour
	@primary-action-fg: white; // Colour
	@secondary-action-bg: lightgray; // Colour
	@secondary-action-fg: white; // Colour

// -------------------------------
// generic states
// -------------------------------
	@danger-bg: #990000; // Colour
	@danger-fg: white; // Colour
	@default-bg: @primary-colour; // Colour
	@default-fg: white; // Colour
	@disabled-bg: lightgrey; // Colour
	@disabled-fg: darkgrey; // Colour
	@success-bg: #0c6735; // Colour
	@success-fg: white; // Colour
	@warning-bg: orange; // Colour
	@warning-fg: white; // Colour

// ###############################
// end colours.less
// ###############################

// ###############################
// start common.less
// ###############################
// -------------------------------
// Badges
// -------------------------------
	@has-badge: enabled; // disabled, enabled
	@badge-radius: 100%;
	@badge-padding: 3px 4px;
	@badge-font-size: 11px;

// -------------------------------
// Bar charts
// -------------------------------
	@bar-chart: enabled; // enabled, disabled
	@colour-bar-chart-bars-bg: fade(@primary-colour,20%); // Colour
	@colour-bar-chart-bars-fg: #000; // Colour
	@colour-bar-chart-bars-below-fg: #000; // Colour
	@colour-bar-chart-bg: #fff; // Colour
	@colour-bar-chart-fg: #000; // Colour
	@bar-chart-width: 500px; // Number and unit
	@bar-chart-border: 1px solid  fade(@primary-colour,5%); // Border style
	@bar-chart-outer-padding: (@padding + 10px); // Number and unit
	@bar-chart-bar-margin: 2px; // Number and unit
	@bar-chart-bar-padding: 2px 6px; // Number and unit
	@bar-chart-value-location: right; // left, center, right, hide
	@bar-chart-value-move-below: 20; // Number
	@bar-chart-value-move-below-indent: 30px; // Number and unit
	@bar-chart-label-angle: 0deg; // degrees, disabled

// -------------------------------
// Calendar
// -------------------------------
	@has-calendar: enabled; // disabled, enabled
	@colour-calendar-current-bg: @primary-colour; // Colour
	@colour-calendar-current-fg: #fff; // Colour
	@colour-calendar-hover-bg: fade(@primary-colour,80%); // Colour
	@colour-calendar-hover-fg: #fff; // Colour
	@colour-calendar-next-bg: fade(@primary-colour,3%); // Colour
	@colour-calendar-next-fg: #999; // Colour
	@colour-calendar-next-weekend-bg: fade(@primary-colour,13%); // Colour
	@colour-calendar-next-weekend-fg: #000; // Colour
	@colour-calendar-previous-bg: fade(@primary-colour,10%); // Colour
	@colour-calendar-previous-fg: #666; // Colour
	@colour-calendar-previous-weekend-bg: fade(@primary-colour,20%); // Colour
	@colour-calendar-previous-weekend-fg: #000; // Colour
	@colour-calendar-heading-bg: @primary-colour; // Colour
	@colour-calendar-heading-fg: #fff; // Colour
	@calendar-cell-height: 65%; // Number and unit
	@calendar-cell-width: 12%; // Number and unit
	@calendar-margin:2%; // Number and unit
	@calendar-padding: 5px; // Number and unit
	@calendar-heading-padding: 5px; // Number and unit
	@calendar-heading-position: 35px; // Number and unit

// -------------------------------
// Chat bubbles
// -------------------------------
	@chat: bubbles; // disable, bubbles
	@colour-chat-even-bg:  fade(@primary-colour,10%); // Colour
	@colour-chat-even-fg:  fade(@primary-colour,80%); // Colour
	@colour-chat-odd-bg:  fade(@primary-colour,20%); // Colour
	@colour-chat-odd-fg:  @primary-colour; // Colour
	@chat-start: left; // left, right
	@chat-margin: 20px; // Number and unit
	@chat-padding: 10px; // Number and unit
	@chat-radius: 4px; // Number and unit
	@chat-tail-size: 20px; // Number and unit

// -------------------------------
// corner ribbons
// -------------------------------
	@corner-ribbon: enabled; // disabled, enabled
	@colour-corner-ribbon-bg:  @primary-colour; // Colour
 // Colour
	@colour-corner-ribbon-fg: #fff; // Colour
	@corner-ribbon-border: 1px solid fade(@primary-colour,20%); // Border style

// -------------------------------
// Feature hover effects
// -------------------------------
	@feature-hovers: darken; // disabled, lighten, darken
	@feature-hovers-bg: @primary-colour; // Colour

// -------------------------------
// Forums
// -------------------------------
	@forum: enabled; // disabled, enabled
	@colour-forum-head-bg:  @primary-colour; // Colour
	@colour-forum-head-fg: #fff; // Colour
	@colour-forum-meta-bg:  fade(@primary-colour,20%); // Colour
	@colour-forum-meta-fg: #000; // Colour
	@colour-forum-content-bg:  fade(@primary-colour,5%); // Colour
	@colour-forum-content-fg: #000; // Colour
	@colour-forum-quote-bg: rgba(0,0,0,0.1); // Colour
	@colour-forum-quote-fg: #000; // Colour
	@forum-padding: @padding; // Number and unitNumber and unit
	@forum-post-head: right; // left, right
	@forum-post-meta-style: collapsed; // simple, collapsed
	@forum-post-meta-width: 25%; // Number and unit

// -------------------------------
// Gallery
// -------------------------------
	@gallery: enabled; // disabled, simple, rounded-grid, filmstrip
	@gallery-style: ; // simple, framed
	@gallery-hover: border; // border, opacity

// -------------------------------
// Highlight-block
// -------------------------------
	@highlight-border: @border-solid; // Border style
	@colour-highlight-bg: fade(@primary-colour,3%); // Colour
	@colour-highlight-fg: #000; // Colour
	@highlight-padding: @padding; // Number and unit
	@highlight-radius: @border-radius; // disabled, number
	@highlight-block: enabled; // disabled, enabled

// -------------------------------
// Modal
// -------------------------------	
	@has-modal: enabled;
	@modal-colour: rgba(0, 0, 0, 0.5);

// -------------------------------
// Pagination
// -------------------------------
	@pagination: blocks; // disabled, simple, blocks
	@colour-pagination-bg: fade(@primary-colour,3%); // Colour
	@colour-pagination-fg: #222; // Colour
	@colour-pagination-current-bg: @primary-colour; // Colour
	@colour-pagination-current-fg: #eee; // Colour
	@colour-pagination-hover-bg: fade(@primary-colour,10%); // Colour
	@colour-pagination-hover-fg: #111; // Colour
	@pagination-border: 1px solid @primary-colour; // Border style
	@pagination-margin: 5px; // Number and unit
	@pagination-padding: 0.75em 1em; // 1 - 4 numbers
	@pagination-radius: @border-radius; // disabled, number

// -------------------------------
// Progress-bar
// -------------------------------
	@progress: enabled; // disabled, enabled
	@colour-progress-bg: fade(@primary-colour,10%); // Colour
	@colour-progress-fg: @primary-colour; // Colour

// -------------------------------
// Pull-quotes
// -------------------------------
	@pullquotes: enabled; // disabled, enabled
	@pullquotes-width: 20%; // Number and unit
	@colour-pullquotes-bg: #eee; // Colour
	@colour-pullquotes-fg: #666; // Colour
	@pullquotes-border-radius: @border-radius; // Number and unit
	@pullquotes-font-size: 16px; // Number and unit
	@pullquotes-margin: @padding; // Number and unit
	@pullquotes-padding: @padding; // Number and unit

// -------------------------------
// Status Messages
// -------------------------------
	@has-status-messages: enabled; // disabled, enabled

	@colour-status-messages-danger-bg: @danger-bg; // Colour
	@colour-status-messages-danger-fg: @danger-fg; // Colour
	@colour-status-messages-danger-a-fg: @danger-fg; // Colour
	@colour-status-messages-danger-heading-fg: @danger-fg; // Colour
	@status-messages-danger-border: 1px solid @danger-fg; // Border style

	@colour-status-messages-default-bg: @default-bg; // Colour
	@colour-status-messages-default-fg: @default-fg; // Colour
	@colour-status-messages-default-a-fg: @default-fg; // Colour
	@colour-status-messages-default-heading-fg: @default-fg; // Colour
	@status-messages-default-border: 1px solid @default-fg; // Border style

	@colour-status-messages-success-bg: @success-bg; // Colour
	@colour-status-messages-success-fg: @success-fg; // Colour
	@colour-status-messages-success-a-fg: @success-fg; // Colour
	@colour-status-messages-success-heading-fg: @success-fg; // Colour
	@status-messages-success-border: 1px solid @success-fg; // Border style

	@colour-status-messages-warning-bg: @warning-bg; // Colour
	@colour-status-messages-warning-fg: @warning-fg; // Colour
	@colour-status-messages-warning-a-fg: @warning-fg; // Colour
	@colour-status-messages-warning-heading-fg: @warning-fg; // Colour
	@status-messages-warning-border: 1px solid @warning-fg; // Border style

	@status-messages-radius: @border-radius; // Number and unit
	@status-messages-font-size: 13px; // Number and unit
	@status-messages-heading-font-size: 16px; // Number and unit
	@status-messages-margin: @padding; // Number and unit
	@status-messages-padding: @padding; // Number and unit

// -------------------------------
// Tables
// -------------------------------
	@tables: enabled; // disabled, enabled
	@colour-table-body-bg: #fff; // Colour
	@colour-table-body-fg: #222; // Colour
	@colour-table-comparrison-col-1-bg: fade(@primary-colour,3%); // Colour
	@colour-table-comparrison-col-2-bg: fade(@primary-colour,5%); // Colour
	@colour-table-comparrison-col-3-bg: fade(@primary-colour,7%); // Colour
	@colour-table-comparrison-col-4-bg: fade(@primary-colour,9%); // Colour
	@colour-table-comparrison-col-5-bg: fade(@primary-colour,11%); // Colour
	@colour-table-comparrison-col-6-bg: fade(@primary-colour,13%); // Colour
	@colour-table-comparrison-col-1-fg: #000; // Colour
	@colour-table-comparrison-col-2-fg: #000; // Colour
	@colour-table-comparrison-col-3-fg: #000; // Colour
	@colour-table-comparrison-col-4-fg: #000; // Colour
	@colour-table-comparrison-col-5-fg: #000; // Colour
	@colour-table-comparrison-col-6-fg: #000; // Colour
	@colour-table-even-bg: fade(@primary-colour,5%); // Colour
	@colour-table-foot-bg: fade(@primary-colour,10%); // Colour
	@colour-table-foot-fg: #333; // Colour
	@colour-table-head-bg: @primary-colour; // Colour
	@colour-table-head-fg: #fff; // Colour
	@colour-table-hover-bg: fade(@primary-colour,80%); // Colour
	@colour-table-hover-fg: #fff; // Colour
	@table-border: 1px solid fade(@primary-colour,5%); // Border style
	@table-head-font-weight: bold; // bold, normal
	@table-padding: (@padding / 1.2) (@padding * 1.5); // Number and unit
	@table-promote-border: 2px solid @primary-colour; // Border style

// -------------------------------
// Tabs
// -------------------------------
	@tabs: blocks; // disabled, blocks, chevrons, trapezoid
	@colour-tabs-bg: fade(@primary-colour,3%); // Colour
	@colour-tabs-fg: @primary-colour; // Colour
	@colour-tabs-current-bg: @primary-colour; // Colour
	@colour-tabs-current-fg: #fff; // Colour
	@colour-tabs-hover-bg: fade(@primary-colour,10%); // Colour
	@colour-tabs-hover-fg: @primary-colour; // Colour
	@tabs-border-colour: #ccc; // disabled, colour
	@tabs-border-style: solid; // disabled, style
	@tabs-border-width: 0; // Number and unit
	@tabs-content-padding: @padding; // 1 - 4 numbers
	@tabs-padding: 0.75em 2em; // 1 - 4 numbers
	@tabs-radius: @border-radius; // disabled, Number and unit
	@dynamic-tabs: enabled; // disabled, enabled
	@dynamic-tabs-qty: 4; // Number only

// -------------------------------
// Tags
// -------------------------------
	@colour-tags-bg: fade(@primary-colour,3%); // Colour
	@colour-tags-fg: @primary-colour; // Colour
	@colour-tags-hover-bg: fade(@primary-colour,10%); // Colour
	@colour-tags-hover-fg: @primary-colour; // Colour
	@tags-border: @border-solid; // Border style
	@tags-padding: 0.25em 1em; // 1 - 4 numbers
	@tags: simple; // disabled, simple

// -------------------------------
// Zoomer
// -------------------------------
	@has-zoomer: enabled;
	@zoomer-zoom-level: 2;

// ###############################
// end common.less
// ###############################

// ###############################
// start forms.less
// ###############################
// -------------------------------
// Basic styles
// -------------------------------
	@gsform-font-size: @text-size; // Number and unit
	@gsforms-input-border-radius: 2px; // Number and unit
	@gsforms-gutter: 20px; // Number and unit
	@gsforms-col: 3%; // Number and unit

	@gsforms-input-bg: @white; // Colour
	@gsforms-input-border: @border-solid; // Border style
	@gsforms-input-shadow:  2px 2px 2px rgba(0, 0, 0, 0.05) inset; // Box Shadow style

	@gsforms-input-required-border: 1px solid @text6; // Border style
	@gsforms-input-required-bg: @white; // Colour

	@gsforms-input-focus-bg: @bg - 6; // Colour
	@gsforms-input-focus-border: 1px solid #666; // Border style
	@gsforms-input-focus-shadow: 0 0 3px rgba(0, 0, 0, 0.2); // Box shadow style

	@gsforms-highlight-bg: @bg - 10; // Colour

	@gsforms-error-text: #c00; // Colour
	@gsforms-error-border: #fcc; // Colour
	@gsforms-error-bg: #c00; // Colour

	@gsforms-bordered-bg: transparent; // Colour
	@gsforms-bordered-border: @border-solid; // Number and unit
	@gsforms-bordered-footer: #f8f8f8; // Colour

// General styles
	@has-pseudo-buttons: enabled; // disabled, enabled
	@button-border: 0; // Number
	@button-font-size: 13px; // Number and unit
	@button-font-weight: bold; // Font weight
	@button-border-radius: 5px; // Number and unit
	@button-box-shadow: none; // Box Shadow style
	@button-text-shadow: none; // Text Shadow style
	@button-hover-box-shadow: none; // Box Shadow style
	@button-hover-text-shadow: none; // Text Shadow style

// Colours - primary
	@button-grad: @button-bg-start,	@button-bg-1, @button-bg-2; // Gradient style
	@button-hover-grad: @button-hover-bg-start,	@button-hover-bg-1, @button-hover-bg-2; // Gradient style
	@button-secondary-grad: @button-secondary-bg-start,	@button-secondary-bg-1, @button-secondary-bg-2; // Gradient style
	@button-secondary-hover-grad: @button-secondary-hover-bg-start,	@button-secondary-hover-bg-1, @button-secondary-hover-bg-2; // Gradient style
	@button-disabled-grad: @button-disabled-bg-start,	@button-disabled-bg-1, @button-disabled-bg-2; // Gradient style
	@button-bg-start: top; // Gradient start point
	@button-bg-1: #45c351; // Colour
	@button-bg-2: #308638; // Colour
	@button-bg-fallback: #393; // Colour
	@button-fg: #fff; // Colour
	@cta-icon-fg: #fff; // Colour

// Colours - primary - hover
	@button-hover-bg-start: top; // Gradient start point
	@button-hover-bg-1: saturate(lighten(@button-bg-1,8),10); // Colour
	@button-hover-bg-2: saturate(lighten(@button-bg-2,8),10); // Colour
	@button-hover-bg-fallback: saturate(lighten(@button-bg-fallback,8),10); // Colour
	@button-hover-fg: #fff; // Colour

// Colours - secondary
	@button-secondary-bg-start: top; // Gradient start point
	@button-secondary-bg-1: #3fb3f8; // Colour
	@button-secondary-bg-2: #2b77a5; // Colour
	@button-secondary-bg-fallback: #41b3f9; // Colour
	@button-secondary-fg: #fff; // Colour

// Colours - secondary - hover
	@button-secondary-hover-bg-start: top; // Gradient start point
	@button-secondary-hover-bg-1: saturate(lighten(@button-secondary-bg-1,8),10); // Colour
	@button-secondary-hover-bg-2: saturate(lighten(@button-secondary-bg-2,8),10); // Colour
	@button-secondary-hover-bg-fallback: #2493d6; // Colour
	@button-secondary-hover-fg: #fff; // Colour
	@cta-icon-secondary-hover-fg: #fff; // Colour

// Colours - disabled
	@button-disabled-bg-start: top; // Gradient start point
	@button-disabled-bg-1: #ccc; // Colour
	@button-disabled-bg-2: #ccc; // Colour
	@button-disabled-bg-fallback: #ccc; // Colour
	@button-disabled-fg: #eee; // Colour

// Colours - disabled - hover
	@button-disabled-hover-bg-start: top; // Gradient start point
	@button-disabled-hover-bg-1: #ccc; // Colour
	@button-disabled-hover-bg-2: #ccc; // Colour
	@button-disabled-hover-bg-fallback: #ccc; // Colour
	@button-disabled-hover-fg: #eee; // Colour
	@cta-icon-disabled-hover-fg: #eee; // Colour

// Icons
	@cta-icon: arrow; // disabled, arrow, arrow-in-circle

// Button sizing and padding
	@button-scale: 1em; // Number and unit
	@sml-scale: 1; // Number
	@std-scale: 1.2; // Number
	@lrg-scale: 1.4; // Number

// ###############################
// end forms.less
// ###############################

// ###############################
// start framework.less
// ###############################
	@framework-min-width: 320px; // Number and unit
	@framework-max-width: 940px; // Number and unit
	@framework-cols: 16; // Number
	@framework-h-gutter: 20px; // Number and unit
	@framework-v-gutter: 20px; // Number and unit
	@fs-base: 13px; // Number and unit
// logo
	@colour-logo: #fff; // Colour
	@colour-logo-hover: #fff; // Colour
	@logo-position: center; // center, left, right
	@logo-width: 200px; // Number and unit
	@logo-height: 52%; // set height as a ratio if width = 200px and height = 100px then this should be 50%
	@logo-margins: 60px 0 60px; // Number and unit
	@logo-case: uppercase; // none, default, capitalize, uppercase, lowercase, initial, inherit
	@logo-sub-case: none; // none, default, capitalize, uppercase, lowercase, initial, inherit
	@logo-url: disabled; //  "@{images-url}yourimage.gif", disabled (if using plain text for a logo)
	@logo-sub: enabled; // enabled, disabled
		// if disabled
		@logo-font-size: 56px; // Number and unit
		@logo-sub-font-size: 16px; // Number and unit

	@images-url: ; // where you save all your images
	@nav-width: 25%; // Number and unit
// Responsive breakpoints
	@bp-350: 350px; // Number and unit
	@bp-400: 400px; // Number and unit
	@bp-450: 450px; // Number and unit
	@bp-500: 500px; // Number and unit
	@bp-550: 550px; // Number and unit
	@bp-600: 600px; // Number and unit
	@bp-650: 650px; // Number and unit
	@bp-700: 700px; // Number and unit
	@bp-750: 750px; // Number and unit
	@bp-800: 800px; // Number and unit
	@bp-850: 850px; // Number and unit
	@bp-900: 900px; // Number and unit
	@bp-tools-nav: @bp-550; // Choose a break point from list above or use a number and unit
	@bp-header-nav: @bp-550; // Choose a break point from list above or use a number and unit
	@bp-side-nav: ; // Choose a break point from list above or use a number and unit

// ###############################
// end framework.less
// ###############################

// ###############################
// start grid.less
// ###############################
	@side-gutters: true; // true, false
	@padded-grid: true; // true, false
	@grid-system: fractions; // fractions, disabled
	// set main breakpoints
	@dt: 960px; // Number and unit
	@tb: 600px; // Number and unit
	@mb: 320px; // Number and unit

// ###############################
// end grid.less
// ###############################

// ###############################
// start mixins.less
// ###############################

// ###############################
// end mixins.less
// ###############################

// ###############################
// start navigation.less
// ###############################
// Tool bar
	@has-tools-nav: enabled; //disabled, enabled
	@tools-nav-position: both; // both, center, left, right, justify
	@tools-nav-style: dividers; // blocks, dividers
	@tools-nav-padding: @padding (@padding + 2); // Number and unit
		// if blocks
		@tools-nav-border: @border-solid; // Border style
		// if pipes
		@vertical-divider: \0020 |; // can be anything for example |, \, >, :, ][
		// You can use utf8 hexc odes like the following 
		// \b7 = minddot, 
		// \0020 \BB = double right angle quote
		// \0020 \2023 = right triangle
		// \0020 \009B Right single angle quote

// header navigation
	@has-header-nav: enabled; //disabled, enabled
	@header-nav-position: full-fluid; // full-fluid, full-equal, center, left, right
	@header-nav-style: blocks; // blocks, dividers, tabs
	@header-nav-padding: (@padding + 2) (@padding + 4); // Number and unit
		// if blocks
		@header-nav-border: 1px solid @colour-header-nav-border; // Border style

// breadcrumbs
	@has-breadcrumbs-nav: enabled; //disabled, enabled
	@breadcrumbs-style: chevrons; // disabled, blocks, bullets, chevrons
	@breadcrumbs-padding: 1em; // Number and unit
	@breadcrumbs-space: 0.2em; // Number and unit
	@breadcrumbs-bullet: >; // Bullet Character

// side navigation in main container
	@has-side-nav: enabled; // disabled, enabled
	@side-nav-style: disabled; // disabled, simple, blocks, lines
	@side-nav-padding: (@padding / 2) @padding; // Number and unit
	@side-nav-border: 1px solid @colour-side-nav-border; // Border style

// ###############################
// end navigation.less
// ###############################

// ###############################
// start styles.less
// ###############################
	@padding: 12px; // 0 - 9px
	@border-radius: 5px; // 0 - 9px
	@border-solid: 1px solid #ccc; //  Border style
	@border-dotted: 1px dotted #ccc; //  Border style
	@opacity: 0.8; // Number and unit
// ###############################
// end styles.less
// ###############################

// ###############################
// start type.less
// ###############################
	// choose font pair from list below or add your own. Delete any that you aren't using.
	// Raleway & Droid Sans
		@import url(http://fonts.googleapis.com/css?family=Raleway:200,300,400,700);
		@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);

	// Ubuntu & Vollkorn
		@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700);
		@import url(http://fonts.googleapis.com/css?family=Vollkorn:400,400italic,700);

	@heading-font-family: Raleway; // Font family name
	@heading-font-weight: 200; // Font weight
	@heading-alt-font-weight: 300; // Font weight
	@heading-alt2-font-weight: 400; // Font weight

	@body-font-family: "Droid Sans"; // Font family name
	@body-font-weight: 400; // Font weight
	@body-alt-font-weight: 700; // Font weight

	@nav-font-family: Raleway; // Font family name
	@nav-font-weight: 400; // Font weight

	@logo-font-family: Raleway; // Font family name
	@logo-font-weight: 300; // Font weight
 
	@text-size: 13px; // Number and unit
	@line-height: 1.4em; // Number and unit
	@h1-size: 40px; // Number and unit
	@h1-line-height: 1.2em; // Number and unit
	@h1-margin: 0.3em; // Number and unit
	@h2-size: 36px; // Number and unit
	@h2-line-height: 1.2em; // Number and unit
	@h2-margin:  0.3em; // Number and unit
	@h3-size: 32px; // Number and unit
	@h3-line-height: 1.2em; // Number and unit
	@h3-margin: 0.3em; // Number and unit
	@h4-size: 28px; // Number and unit
	@h4-line-height: 1.2em; // Number and unit
	@h4-margin: 0.3em; // Number and unit
	@h5-size: 24px; // Number and unit
	@h5-line-height: 1.2em; // Number and unit
	@h5-margin: 0.3em; // Number and unit
	@h6-size: 20px; // Number and unit
	@h6-line-height: 1.4em; // Number and unit
	@h6-margin: 0.3em; // Number and unit
	@tools-nav-font-size: 13px; // Number and unit
	@header-nav-font-size: 13px; // Number and unit
	@side-nav-font-size: 14px; // Number and unit

// ###############################
// end type.less
// ###############################
	@primary-colour: rgba(0,0,0,1);