// ###############################
// start colours.less
// ###############################
	.base-colors(#fff,#333); // hex
// -------------------------------
// primary containers
// -------------------------------
	@colour-body-bg: #666; // #fff, #000
	@colour-body-fg: #066; // #fff, #000

	@colour-tools-bg: #fff; // hex
	@colour-tools-fg: #066; // hex
	@colour-tools-inner-bg: #fff; // hex

	@colour-header-bg: #ddd; // hex
	@colour-header-fg: #066; // hex
	@colour-header-inner-bg: #ddd; // hex

	@colour-content-bg: #fff; // hex
	@colour-content-fg: #222; // hex
	@colour-content-inner-bg: #fff; // hex

	@colour-footer-bg: #ccc; // hex
	@colour-footer-fg: #066; // hex
	@colour-footer-inner-bg: #ccc; // hex
// -------------------------------
// links
// -------------------------------
	@colour-active: #990; // hex
	@colour-hover: #099; // hex
	@colour-link: #009; // hex
	@colour-visited: #909; // hex
// -------------------------------
// text
// -------------------------------
	@colour-border: #ccc; // hex
	@colour-heading: #222; // hex
	@colour-heading-alt: #222; // hex
	@colour-text: #222; // hex
	@colour-text-alt-1: #000; // hex
	@colour-text-alt-2: #000; // hex
	@colour-text-alt-3: #000; //

// -------------------------------
// tools navigation
// -------------------------------
	@colour-tools-nav-border: #fff; // hex
	@colour-tools-nav-level-0-bg: #fff; // hex
	@colour-tools-nav-level-0-fg: #066; // hex
	@colour-tools-nav-level-1-bg: #fff; // hex
	@colour-tools-nav-level-1-fg: #066; // hex
	@colour-tools-nav-level-2-bg: #fff; // hex
	@colour-tools-nav-level-2-fg: #066; // hex

	@colour-tools-nav-border: #fff; // hex
	@colour-tools-nav-level-0-hover-bg: #eee; // hex
	@colour-tools-nav-level-0-hover-fg: #306; // hex
	@colour-tools-nav-level-1-hover-bg: #eee; // hex
	@colour-tools-nav-level-1-hover-fg: #306; // hex
	@colour-tools-nav-level-2-hover-bg: #eee; // hex
	@colour-tools-nav-level-2-hover-fg: #306; // hex

// -------------------------------
// header navigation
// -------------------------------
	@colour-header-nav-border: #fff; // hex
	@colour-header-nav-level-0-bg: #fff; // hex
	@colour-header-nav-level-0-fg: #066; // hex
	@colour-header-nav-level-1-bg: #fff; // hex
	@colour-header-nav-level-1-fg: #066; // hex
	@colour-header-nav-level-2-bg: #fff; // hex
	@colour-header-nav-level-2-fg: #066; // hex

	@colour-header-nav-border: #fff; // hex
	@colour-header-nav-level-0-hover-bg: #eee; // hex
	@colour-header-nav-level-0-hover-fg: #306; // hex
	@colour-header-nav-level-1-hover-bg: #eee; // hex
	@colour-header-nav-level-1-hover-fg: #306; // hex
	@colour-header-nav-level-2-hover-bg: #eee; // hex
	@colour-header-nav-level-2-hover-fg: #306; // hex

// -------------------------------
// breadcrumbs navigation
// -------------------------------
	@colour-breadcrumbs-nav-border: #fff; // hex
	@colour-breadcrumbs-nav-level-0-bg: #fff; // hex
	@colour-breadcrumbs-nav-level-0-fg: #066; // hex
	@colour-breadcrumbs-nav-level-1-bg: #f5f5f5; // hex
	@colour-breadcrumbs-nav-level-1-fg: #066; // hex

	@colour-breadcrumbs-nav-level-0-hover-bg: #eee; // hex
	@colour-breadcrumbs-nav-level-0-hover-fg: #306; // hex
	@colour-breadcrumbs-nav-level-1-hover-bg: #eee; // hex
	@colour-breadcrumbs-nav-level-1-hover-fg: #306; // hex

// -------------------------------
// side navigation
// -------------------------------
	@colour-side-nav-level-0-fg: #066; // hex
	@colour-side-nav-level-0-bg: #fff; // hex
	@colour-side-nav-level-1-fg: #066; // hex
	@colour-side-nav-level-1-bg: #fff; // hex
	@colour-side-nav-level-2-fg: #066; // hex
	@colour-side-nav-level-2-bg: #fff; // hex
	@colour-side-nav-border: #fff; // hex

	@colour-side-nav-level-0-hover-fg: #306; // hex
	@colour-side-nav-level-0-hover-bg: #eee; // hex
	@colour-side-nav-level-1-hover-fg: #306; // hex
	@colour-side-nav-level-1-hover-bg: #eee; // hex
	@colour-side-nav-level-2-hover-fg: #306; // hex
	@colour-side-nav-level-2-hover-bg: #eee; //
	@colour-side-nav-border: #fff; // hex

// -------------------------------
// footer navigation
// -------------------------------
	@colour-footer-nav-border: #fff; // hex
	@colour-footer-nav-level-0-bg: #fff; // hex
	@colour-footer-nav-level-0-fg: #066; // hex
	@colour-footer-nav-level-1-bg: #fff; // hex
	@colour-footer-nav-level-1-fg: #066; // hex
	@colour-footer-nav-level-2-bg: #fff; // hex
	@colour-footer-nav-level-2-fg: #066; // hex

	@colour-footer-nav-border: #fff; // hex
	@colour-footer-nav-level-0-hover-bg: #eee; // hex
	@colour-footer-nav-level-0-hover-fg: #306; // hex
	@colour-footer-nav-level-1-hover-bg: #eee; // hex
	@colour-footer-nav-level-1-hover-fg: #306; // hex
	@colour-footer-nav-level-2-hover-bg: #eee; // hex
	@colour-footer-nav-level-2-hover-fg: #306; // hex

// -------------------------------
// button colours
// -------------------------------
	@danger-action-bg: red; // hex
	@danger-action-fg: white; // hex
	@disabled-action-bg: lightgray; // hex
	@disabled-action-fg: darkgrey; // hex
	@primary-action-bg: blue; // hex
	@primary-action-fg: white; // hex
	@secondary-action-bg: lightgray; // hex
	@secondary-action-fg: white; // hex

// -------------------------------
// generic states
// -------------------------------
	@danger-bg: red; // hex
	@danger-fg: white; // hex
	@default-bg: blue; // hex
	@default-fg: white; // hex
	@disabled-bg: lightgrey; // hex
	@disabled-fg: darkgrey; // hex
	@success-bg: green; // hex
	@success-fg: white; // hex
	@warning-bg: orange; // hex
	@warning-fg: white; // hex

// ###############################
// end colours.less
// ###############################

// ###############################
// start common.less
// ###############################

// ###############################
// end common.less
// ###############################

// ###############################
// start forms.less
// ###############################
// -------------------------------
// Basic styles
// -------------------------------
	@gsform-font-size: @text-size;
	@gsforms-input-border-radius: 2px;
	@gsforms-gutter: 20px;
	@gsforms-col: 3%;

	@gsforms-input-bg: @white;
	@gsforms-input-border: 1px solid #ccc;
	@gsforms-input-shadow:  2px 2px 2px rgba(0, 0, 0, 0.05) inset;

	@gsforms-input-required-border: 1px solid @text6;
	@gsforms-input-required-bg: @white;

	@gsforms-input-focus-bg: @bg - 6;
	@gsforms-input-focus-border: 1px solid #666;
	@gsforms-input-focus-shadow: 0 0 3px rgba(0, 0, 0, 0.2);

	@gsforms-highlight-bg: @bg - 10;

	@gsforms-error-text: #c00;
	@gsforms-error-border: #fcc;
	@gsforms-error-bg: #c00;

	@gsforms-bordered-bg: transparent;
	@gsforms-bordered-border: @border-solid;
	@gsforms-bordered-footer: #f8f8f8;
// General styles
	@has-pseudo-buttons: true;
	@button-border: 0;
	@button-font-size: 13px;
	@button-font-weight: bold;
	@button-border-radius: 5px;
	@button-box-shadow: none;
	@button-text-shadow: none;
	@button-hover-box-shadow: none;
	@button-hover-text-shadow: none;
// Colours - primary
	@button-grad: @button-bg-start,	@button-bg-1, @button-bg-2;
	@button-hover-grad: @button-hover-bg-start,	@button-hover-bg-1, @button-hover-bg-2;
	@button-secondary-grad: @button-secondary-bg-start,	@button-secondary-bg-1, @button-secondary-bg-2;
	@button-secondary-hover-grad: @button-secondary-hover-bg-start,	@button-secondary-hover-bg-1, @button-secondary-hover-bg-2;
	@button-disabled-grad: @button-disabled-bg-start,	@button-disabled-bg-1, @button-disabled-bg-2;
	@button-bg-start: top;
	@button-bg-1: #45c351;
	@button-bg-2: #308638;
	@button-bg-fallback: #393;
	@button-fg: #fff;
	@cta-icon-fg: #fff;
// Colours - primary - hover
	@button-hover-bg-start: top;
	@button-hover-bg-1: saturate(lighten(@button-bg-1,8),10);
	@button-hover-bg-2: saturate(lighten(@button-bg-2,8),10);
	@button-hover-bg-fallback: saturate(lighten(@button-bg-fallback,8),10);
	@button-hover-fg: #fff;
// Colours - secondary
	@button-secondary-bg-start: top;
	@button-secondary-bg-1: #3fb3f8;
	@button-secondary-bg-2: #2b77a5;
	@button-secondary-bg-fallback: #41b3f9;
	@button-secondary-fg: #fff;
// Colours - secondary - hover
	@button-secondary-hover-bg-start: top;
	@button-secondary-hover-bg-1: saturate(lighten(@button-secondary-bg-1,8),10);;
	@button-secondary-hover-bg-2: saturate(lighten(@button-secondary-bg-2,8),10);;
	@button-secondary-hover-bg-fallback: #2493d6;
	@button-secondary-hover-fg: #fff;
	@cta-icon-secondary-hover-fg: #fff;
// Colours - disabled
	@button-disabled-bg-start: top;
	@button-disabled-bg-1: #ccc;
	@button-disabled-bg-2: #ccc;
	@button-disabled-bg-fallback: #ccc;
	@button-disabled-fg: #eee;
// Colours - disabled - hover
	@button-disabled-hover-bg-start: top;
	@button-disabled-hover-bg-1: #ccc;
	@button-disabled-hover-bg-2: #ccc;
	@button-disabled-hover-bg-fallback: #ccc;
	@button-disabled-hover-fg: #eee;
	@cta-icon-disabled-hover-fg: #eee;
// Icons
	@cta-icon: arrow; // disabled, arrow, arrow-in-circle
// Button sizing and padding
	@button-scale: 1em;
	@sml-scale: 1;
	@std-scale: 1.2;
	@lrg-scale: 1.4;
// ###############################
// end forms.less
// ###############################

// ###############################
// start framework.less
// ###############################
	@framework-min-width: 320px;
	@framework-max-width: 940px;
	@framework-cols: 16;
	@framework-h-gutter: 20px;
	@framework-v-gutter: 20px;
	@fs-base: 13px;
	@logo-position: centre; // centre, left, right
	@logo-width: 200px;
	@logo-height: 52%; // set height as a ratio if width = 200px and height = 100px then this should be 50%
	@logo-margins: 8px 0 12px;
	@logo-case: uppercase;
	@logo-url: "logo.svg"; //  "@{images-url}yourimage.gif", disabled (if using plain text for a logo)
		// if disabled
		@logo-font-size: 70px;

	@images-url: ; // where you save all your images
	@nav-width: 25%;
	@bp-350: 350px;
	@bp-400: 400px;
	@bp-450: 450px;
	@bp-500: 500px;
	@bp-550: 550px;
	@bp-600: 600px;
	@bp-650: 650px;
	@bp-700: 700px;
	@bp-750: 750px;
	@bp-800: 800px;
	@bp-850: 850px;
	@bp-900: 900px;
	@bp-tools-nav: @bp-550;
	@bp-header-nav: @bp-550;
	@bp-side-nav: ;
	.fs-base {font-size: @fs-base;}
	.fs-zero {font-size: 0;}
// ###############################
// end framework.less
// ###############################

// ###############################
// start grid.less
// ###############################
	@side-gutters: true;
	@padded-grid: false;
	@grid-system: fractions; // fractions, disabled
	// set main breakpoints
	@dt: 960px;
	@tb: 600px;
	@mb: 320px;
// ###############################
// end grid.less
// ###############################

// ###############################
// start mixins.less
// ###############################

// ###############################
// end mixins.less
// ###############################

// ###############################
// start navigation.less
// ###############################
// Tool bar
	@has-tools-nav: enabled; //disabled, enabled
	@tools-nav-position: both; // both, centre, left, right, justify
	@tools-nav-style: dividers; // blocks, dividers
	@tools-nav-padding: @padding (@padding + 2);
		// if blocks
		@tools-nav-border: 1px solid #ccc;
		// if pipes
		@vertical-divider: \0020 |; // can be anything for example |, \, >, :, ][
		// You can use utf8 hexc odes like the following 
		// \b7 = minddot, 
		// \0020 \BB = double right angle quote
		// \0020 \2023 = right triangle
		// \0020 \009B Right single angle quote

// header navigation
	@has-header-nav: enabled; //disabled, enabled
	@header-nav-position: full-fluid; // full-fluid, full-equal, centre, left, right
	@header-nav-style: blocks; // blocks, dividers, tabs
	@header-nav-padding: (@padding + 2) (@padding + 4);
		// if blocks
		@header-nav-border: 1px solid @colour-header-nav-border;

// breadcrumbs
	@has-breadcrumbs-nav: enabled; //disabled, enabled
	@breadcrumbs-style: bullets; // disabled, blocks, bullets, checvrons, simple
	@breadcrumbs-padding: 1em;
	@breadcrumbs-space: 1;
	@breadcrumbs-bullet: >;9

// side navigation (in main container)
	@has-side-nav: enabled; //disabled, enabled
	@side-nav-style: disabled; // disabled, simple, blocks, lines
	@side-nav-padding: @padding (@padding + 2);
	@side-nav-border: 1px solid @colour-side-nav-border;

// flyouts
	@flyouts-width: disabled; // disabled, single, multi, full
// ###############################
// end navigation.less
// ###############################

// ###############################
// start styles.less
// ###############################
	@padding: 12px; // 0 - 9px
	@border-radius: 5px; // 0 - 9px
	@border-solid: 1px solid #ccc;
	@border-dotted: 1px dotted #ccc;
	@opacity: 0.8;
// ###############################
// end styles.less
// ###############################

// ###############################
// start type.less
// ###############################
	// choose font pair from list below or add your own. Delete any that you aren't using.
	// Raleway & Droid Sans
		@import url(http://fonts.googleapis.com/css?family=Raleway:200,300,400,700);
		@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);

	// Ubuntu & Vollkorn
		@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700);
		@import url(http://fonts.googleapis.com/css?family=Vollkorn:400,400italic,700);

	@heading-font-family: Raleway;
	@heading-font-weight: 200;
	@heading-alt-font-weight: 300;
	@heading-alt2-font-weight: 400;

	@body-font-family: "Droid Sans";
	@body-font-weight: 400;
	@body-alt-font-weight: 700;

	@nav-font-family: Raleway;
	@nav-font-weight: 700;

	@logo-font-family: Raleway;
	@logo-font-weight: 300;

	@text-size: 13px;
	@line-height: 1.4;
	@h1-size: 40px;
	@h1-line-height: 1.2;
	@h2-size: 36px;
	@h2-line-height: 1.2;
	@h3-size: 32px;
	@h3-line-height: 1.2;
	@h4-size: 28px;
	@h4-line-height: 1.2;
	@h5-size: 24px;
	@h5-line-height: 1.2;
	@h6-size: 20px;
	@h6-line-height: 1.4;
	@tools-nav-font-size: 13px;
	@header-nav-font-size: 13px;
	@side-nav-font-size: 14px;

// ###############################
// end type.less
// ###############################