// ###############################
// common.less
// ###############################
@badge: enabled; // disabled, simple
@gallery: disabled; // disabled, simple, framed
@pagination: disabled; // disabled, simple, blocks
@progress-bar: disabled; // disabled, simple
@quotes: disabled; // disabled, simple, large, x-large
@ribbon: enabled; // disabled, simple
@shaded: disabled; // disabled, simple
@tables: disabled; // disabled, simple, borders, horizontal-borders, striped
@tags: disabled; // disabled, blocks
@tabs: enabled; // disabled, blocks

// ###############################
// Widgets
// ###############################
.badge when (@badge = enabled){
	display: inline-block; border-radius: 1em; padding: 3px 4px; min-width: 1em; text-align: center; font-size: 11px; line-height: 1em;
}
.tabs  when (@tabs = enabled){
	& ul {display: table;
		& li {display: table-cell;
			& a,
			& span {display: block; padding:@tab-padding;}
			& span {background-color: @colour-tab-current-bg; color: @colour-tab-current-fg;}
			& a {
				&:link,
				&:visited {background-color: @colour-tab-bg; color: @colour-tab-fg;}
				&:hover,
				&:active {}
				
			}
		}
	}
}
@colour-tab-bg: #eee; // hex
@colour-tab-fg: #222; // hex
@colour-tab-current-bg: #222; // hex
@colour-tab-current-fg: #eee; // hex
@tab-padding: 1em 2em; // 1 - 4 numbers
@tab-radius: ; // disabled, number