/* framework.less */
@framework-min-width: 320px;
@framework-max-width: 940px;
@framework-cols: 16;
@framework-h-gutter: 20px;
@framework-v-gutter: 20px;
@fs-base: 13px;
@logo-position: centre; // centre, left, right
@logo-width: 200px;
@logo-height: 52%; // set height as a ratio if width = 200px and height = 100px then this should be 50%
@logo-url: "logo.svg"; //  "@{images-url}yourimage.gif", disabled (if using plain text for a logo)
@images-url: ; // where you save all your images
@nav-width: 25%;
@bp-350: 350px;
@bp-400: 400px;
@bp-450: 450px;
@bp-500: 500px;
@bp-550: 550px;
@bp-600: 600px;
@bp-650: 650px;
@bp-700: 700px;
@bp-750: 750px;
@bp-800: 800px;
@bp-850: 850px;
@bp-900: 900px;
@bp-tools-nav: @bp-550;
@bp-header-nav: @bp-550;
@bp-side-nav: ;

.fs-base {font-size: @fs-base;}
.fs-zero {font-size: 0;}

// if max width - min-wdth != 0 make responsive
html {}
body > * {width: 100%;
	.clearfix;
	& > div {min-width: @framework-min-width; max-width: @framework-max-width; margin: 0 auto;
		.clearfix;
	}
}

// logo
.logo {.logo-position; .logo-size; .logo-graphic;}

.logo-position() when (@logo-position = left){float: left;}
.logo-position() when (@logo-position = right){float: right; text-align: right;}
.logo-position() when (@logo-position = centre){margin: 0 auto; text-align: center;}
.logo-size() {width: @logo-width;
	& a {height: 0; padding-bottom: @logo-height; display: block;}
}
.logo-graphic() when not (@logo-url = disabled){background: url("@{logo-url}") 0 0 no-repeat transparent; .hide-text;}

.main {.fs-zero;
	& .side {width: @nav-width; display: inline-block; vertical-align: top;}
	& .content {width: 100%; display: inline-block; vertical-align: top;}
	& .side ~ .content {width: (100% - @nav-width); display: inline-block; vertical-align: top;}
}


// temp

.parent > div {background-color: #ccc;}