// -------------------------------
// framework.less
// -------------------------------
// ###############################
// start editable
// ###############################
@framework-min-width: 320px;
@framework-max-width: 940px;
@framework-cols: 16;
@framework-h-gutter: 20px;
@framework-v-gutter: 20px;
@fs-base: 13px;
@logo-position: centre; // centre, left, right
@logo-width: 200px;
@logo-height: 52%; // set height as a ratio if width = 200px and height = 100px then this should be 50%
@logo-margins: 8px 0 12px;
@logo-case: uppercase;
@logo-url: "logo.svg"; //  "@{images-url}yourimage.gif", disabled (if using plain text for a logo)
	// if disabled
	@logo-font-size: 70px;

@images-url: ; // where you save all your images
@nav-width: 25%;
@bp-350: 350px;
@bp-400: 400px;
@bp-450: 450px;
@bp-500: 500px;
@bp-550: 550px;
@bp-600: 600px;
@bp-650: 650px;
@bp-700: 700px;
@bp-750: 750px;
@bp-800: 800px;
@bp-850: 850px;
@bp-900: 900px;
@bp-tools-nav: @bp-550;
@bp-header-nav: @bp-550;
@bp-side-nav: ;
.fs-base {font-size: @fs-base;}
.fs-zero {font-size: 0;}
// ###############################
// end editable
// ###############################
// if max width - min-wdth != 0 make responsive
html {}
body > * {width: 100%;
	.clearfix;
	& > div {min-width: @framework-min-width; max-width: @framework-max-width; margin: 0 auto;
		.clearfix;
	}
}

// logo
.logo {.logo-position; .logo-size; .logo-graphic; font-family: @logo-font-family; font-weight: @logo-font-weight; text-transform: @logo-case;
	& a {margin: @logo-margins;}
}
.logo-position() when (@logo-position = left){float: left;}
.logo-position() when (@logo-position = right){float: right; text-align: right;}
.logo-position() when (@logo-position = centre){margin: 0 auto; text-align: center;}
.logo-size() when not (@logo-url = disabled) {width: @logo-width;
	& a {height: 0; padding-bottom: @logo-height; display: block;}
}
.logo-graphic() when (@logo-url = disabled){font-size: @logo-font-size;
	a {
		&:link,
		&:visited {color: @colour-logo; text-decoration: none;}
		&:hover,
		&:active,
		&:focus{color: @colour-logo-hover; text-decoration: none;}
	}
}
.logo-graphic() when not (@logo-url = disabled){background: url("@{logo-url}") 0 0 no-repeat transparent; .hide-text;}

.main {.fs-zero;
	& .side {width: @nav-width; display: inline-block; vertical-align: top;}
	& .content {width: 100%; display: inline-block; vertical-align: top;}
	& .side ~ .content {width: (100% - @nav-width); display: inline-block; vertical-align: top;}
}

//  Responsive curated images
	.curate-left{float: left; overflow: hidden;
		width: 96.7%;
		width:         calc(~"100% - 20px");
		width:    -moz-calc(~"100% - 20px");
		width: -webkit-calc(~"100% - 20px");
		@media only screen and (max-width: @bp-550){width: 100%;}
		& img{max-width: none;}
	}
	.curate-right{overflow: hidden;
		.clearfix;
		& img{max-width: none; float: right;}
	}
	.curate-centre {overflow: hidden;
		width: 96.7%;
		width:         calc(~"100% - 20px");
		width:    -moz-calc(~"100% - 20px");
		width: -webkit-calc(~"100% - 20px");
@media only screen and (max-width: @bp-550){width: 100%;}
		& div {max-width: none; overflow-x: hidden; text-align: center; width: 200%;}
		& img {margin-left: -50%; max-width: none;}
	}
// fixed elements
.fixed {position: fixed; top: 0;
	&.fixed- {
		&10 + * {margin-top: 10px;}
		&20 + * {margin-top: 20px;}
		&30 + * {margin-top: 30px;}
		&40 + * {margin-top: 40px;}
		&50 + * {margin-top: 50px;}
		&60 + * {margin-top: 60px;}
		&70 + * {margin-top: 70px;}
		&80 + * {margin-top: 80px;}
		&90 + * {margin-top: 90px;}
		&100 + * {margin-top: 100px;}
		&150 + * {margin-top: 150px;}
		&200 + * {margin-top: 200px;}
		&250 + * {margin-top: 250px;}
	}
}


// temp
